<%- include ("header") %>


    <title>أدعية</title>
    <link rel="stylesheet" href="/css/style_doaa.css">


<body>

    <div class="dot-container">
        <span class="dot1" onclick="currentSlide(1)">أدعية من القرآن</span>
        <span class="dot1" onclick="currentSlide(2)">أدعية من السنة</span>

    </div>

    <div class="img_doaa">
        <img src="/img/ad3iya.jpg" alt="">
    </div>

    <div class="slideshow-container">

        <div class="mySlides">
            <h1>أدعية من القرآن</h1>
            <div class="doaa">
                <p>
                    -بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ * الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ * الرَّحْمَنِ
                    الرَّحِيمِ * مَالِكِ يَوْمِ الدِّينِ * إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ * اهْدِنَا
                    الصِّرَاطَ الْمُسْتَقِيمَ * صِرَاطَ الَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ الْمَغْضُوبِ عَلَيْهِمْ
                    وَلَا الضَّالِّينَ - الفاتحة: 1 - 7

                </p>
            </div>
            <div class="doaa">
                <p>-رَبَّنَا تَقَبَّلْ مِنَّا إِنَّكَ أَنْتَ السَّمِيعُ الْعَلِيمُ *رَبَّنَا وَاجْعَلْنَا مُسْلِمَيْنِ
                    لَكَ وَمِنْ ذُرِّيَّتِنَا أُمَّةً مُسْلِمَةً لَكَ وَأَرِنَا مَنَاسِكَنَا وَتُبْ عَلَيْنَا إِنَّكَ
                    أَنْتَ التَّوَّابُ الرَّحِيمُ - البقرة: 127، 128
                </p>

                <p>-فَسَيَكْفِيكَهُمُ اللَّهُ وَهُوَ السَّمِيعُ الْعَلِيمُ - البقرة: 137
                </p>

                <p>-الَّذِينَ إِذَا أَصَابَتْهُمْ مُصِيبَةٌ قَالُوا إِنَّا لِلَّهِ وَإِنَّا إِلَيْهِ رَاجِعُونَ -
                    البقرة: 156
                </p>

                <p>-رَبَّنَا آَتِنَا فِي الدُّنْيَا حَسَنَةً وَفِي الْآَخِرَة حَسَنَةً وَقِنَا عَذَابَ النَّارِ -
                    البقرة: 201
                </p>

                <p> -رَبَّنَا أَفْرِغْ عَلَيْنَا صَبْرًا وَثَبِّتْ أَقْدَامَنَا وَانْصُرْنَا عَلَى الْقَوْمِ
                    الْكَافِرِينَ - البقرة: 250
                </p>

                <p>-رَبَّنَا لَا تُؤَاخِذْنَا إِنْ نَسِينَا أَوْ أَخْطَأْنَا رَبَّنَا وَلَا تَحْمِلْ عَلَيْنَا إِصْرًا
                    كَمَا حَمَلْتَهُ عَلَى الَّذِينَ مِنْ قَبْلِنَا رَبَّنَا وَلَا تُحَمِّلْنَا مَا لَا طَاقَةَ لَنَا
                    بِهِ وَاعْفُ عَنَّا وَاغْفِرْ لَنَا وَارْحَمْنَا أَنْتَ مَوْلَانَا فَانْصُرْنَا عَلَى الْقَوْمِ
                    الْكَافِرِينَ - البقرة: 286
                </p>

            </div>

            <div class="doaa">
                <p>-رَبَّنَا إِنَّنَا آَمَنَّا فَاغْفِرْ لَنَا ذُنُوبَنَا وَقِنَا عَذَابَ النَّارِ - آل عمران: 16
                </p>

                <p>-قُلِ اللَّهُمَّ مَالِكَ الْمُلْكِ تُؤْتِي الْمُلْكَ مَنْ تَشَاءُ وَتَنْزِعُ الْمُلْكَ مِمَّنْ
                    تَشَاءُ وَتُعِزُّ مَنْ تَشَاءُ وَتُذِلُّ مَنْ تَشَاءُ بِيَدِكَ الْخَيْرُ إِنَّكَ عَلَى كُلِّ شَيْءٍ
                    قَدِيرٌ - آل عمران: 26
                </p>

                <p>-رَبِّ هَبْ لِي مِنْ لَدُنْكَ ذُرِّيَّةً طَيِّبَةً إِنَّكَ سَمِيعُ الدُّعَاءِ - آل عمران: 38
                </p>

                <p>-رَبَّنَا آَمَنَّا بِمَا أَنْزَلْتَ وَاتَّبَعْنَا الرَّسُولَ فَاكْتُبْنَا مَعَ الشَّاهِدِينَ - آل
                    عمران: 53
                </p>
            </div>
            <div class="doaa">
                <p> -وَاجْعَلْ لَنَا مِنْ لَدُنْكَ وَلِيًّا وَاجْعَلْ لَنَا مِنْ لَدُنْكَ نَصِيرًا - النساء: 75</p>

            </div>

            <div class="doaa">
                <p>
                    -رَبَّنَا آَمَنَّا فَاكْتُبْنَا مَعَ الشَّاهِدِينَ - المائدة: 83
                </p>

            </div>

            <div class="doaa">
                <p>-إِنِّي وَجَّهْتُ وَجْهِيَ لِلَّذِي فَطَرَ السَّمَاوَاتِ وَالْأَرْضَ حَنِيفًا وَمَا أَنَا مِنَ
                    الْمُشْرِكِينَ - الأنعام: 79
                </p>
                <p>-قُلْ إِنَّ صَلَاتِي وَنُسُكِي وَمَحْيَايَ وَمَمَاتِي لِلَّهِ رَبِّ الْعَالَمِينَ * لَا شَرِيكَ لَهُ
                    - الأنعام: 162، 163
                </p>

            </div>

            <div class="doaa">


            </div>

            <div class="doaa">
                <p>-الْحَمْدُ لِلَّهِ الَّذِي هَدَانَا لِهَذَا وَمَا كُنَّا لِنَهْتَدِيَ لَوْلَا أَنْ هَدَانَا اللَّهُ -
                    الأعراف: 43
                </p>

            </div>

            <div class="doaa">
                <p> -رَبِّ إِنِّي أَعُوذُ بِكَ أَنْ أَسْأَلَكَ مَا لَيْسَ لِي بِهِ عِلْمٌ وَإِلَّا تَغْفِرْ لِي
                    وَتَرْحَمْنِي أَكُنْ مِنَ الْخَاسِرِينَ - هود: 47
                </p>
                <p>-إِنِّي تَوَكَّلْتُ عَلَى اللَّهِ رَبِّي وَرَبِّكُمْ مَا مِنْ دَابَّةٍ إِلَّا هُوَ آَخِذٌ
                    بِنَاصِيَتِهَا إِنَّ رَبِّي عَلَى صِرَاطٍ مُسْتَقِيمٍ - هود: 56
                </p>
                <p>-وَمَا تَوْفِيقِي إِلَّا بِاللَّهِ عَلَيْهِ تَوَكَّلْتُ وَإِلَيْهِ أُنِيبُ - هود: 88
                </p>

            </div>

            <div class="doaa">
                <p>-رَبِّ اجْعَلْ هَذَا الْبَلَدَ آَمِنًا وَاجْنُبْنِي وَبَنِيَّ أَنْ نَعْبُدَ الْأَصْنَامَ - إبراهيم:
                    35
                </p>
            </div>

            <div class="doaa">
                <p>-سُبْحَانَ رَبِّكَ رَبِّ الْعِزَّةِ عَمَّا يَصِفُونَ * وَسَلَامٌ عَلَى الْمُرْسَلِينَ * وَالْحَمْدُ
                    لِلَّهِ رَبِّ الْعَالَمِينَ الصافات: 180 – 182
                </p>

            </div>

            <div class="doaa">
                <p>-اللَّهُمَّ فَاطِرَ السَّمَوَاتِ وَالْأَرْضِ عَالِمَ الْغَيْبِ وَالشَّهَادَةِ أَنْتَ تَحْكُمُ بَيْنَ
                    عِبَادِكَ فِي مَا كَانُوا فِيهِ يَخْتَلِفُونَ - الزمر: 46
                </p>

            </div>

            <div class="doaa">
                <p>-غَافِرِ الذَّنْبِ وَقَابِلِ التَّوْبِ شَدِيدِ الْعِقَابِ ذِي الطَّوْلِ لَا إِلَهَ إِلَّا هُوَ
                    إِلَيْهِ الْمَصِيرُ - غافر: 3
                </p>
                <p>-وَأُفَوِّضُ أَمْرِي إِلَى اللَّهِ إِنَّ اللَّهَ بَصِيرٌ بِالْعِبَادِ - غافر: 44
                </p>

            </div>

            <div class="doaa">
                <p>-سُبْحَانَ الَّذِي سَخَّرَ لَنَا هَذَا وَمَا كُنَّا لَهُ مُقْرِنِينَ - الزخرف: 13
                </p>
                <p>-سُبْحَانَ رَبِّ السَّمَوَاتِ وَالْأَرْضِ رَبِّ الْعَرْشِ عَمَّا يَصِفُونَ - الزخرف: 82
                </p>
                <p>-رَبِّ أَوْزِعْنِي أَنْ أَشْكُرَ نِعْمَتَكَ الَّتِي أَنْعَمْتَ عَلَيَّ وَعَلَى وَالِدَيَّ وَأَنْ
                    أَعْمَلَ صَالِحًا تَرْضَاهُ وَأَصْلِحْ لِي فِي ذُرِّيَّتِي إِنِّي تُبْتُ إِلَيْكَ وَإِنِّي مِنَ
                    الْمُسْلِمِينَ - الأحقاف: 15
                </p>

            </div>

            <div class="doaa">
                <p>-فَاعْلَمْ أَنَّهُ لَا إِلَهَ إِلَّا اللَّهُ وَاسْتَغْفِرْ لِذَنْبِكَ وَلِلْمُؤْمِنِينَ
                    وَالْمُؤْمِنَاتِ - محمد: 19
                </p>

            </div>

            <div class="doaa">
                <p>-رَبَّنَا اغْفِرْ لَنَا وَلِإِخْوَانِنَا الَّذِينَ سَبَقُونَا بِالْإِيمَانِ وَلَا تَجْعَلْ فِي
                    قُلُوبِنَا غِلًّا لِلَّذِينَ آَمَنُوا رَبَّنَا إِنَّكَ رَءُوفٌ رَحِيمٌ - الحشر: 10
                </p>

            </div>

            <div class="doaa">
                <p>-رَبَّنَا عَلَيْكَ تَوَكَّلْنَا وَإِلَيْكَ أَنَبْنَا وَإِلَيْكَ الْمَصِيرُ - الممتحنة: 4
                </p>
                <p>-رَبَّنَا لَا تَجْعَلْنَا فِتْنَةً لِلَّذِينَ كَفَرُوا وَاغْفِرْ لَنَا رَبَّنَا إِنَّكَ أَنْتَ
                    الْعَزِيزُ الْحَكِيمُ - الممتحنة: 5
                </p>

            </div>

            <div class="doaa">
                <p>-رَبَّنَا أَتْمِمْ لَنَا نُورَنَا وَاغْفِرْ لَنَا إِنَّكَ عَلَى كُلِّ شَيْءٍ قَدِيرٌ - التحريم: 8
                </p>
                <p>-رَبِّ ابْنِ لِي عِنْدَكَ بَيْتًا فِي الْجَنَّةِ - التحريم: 11
                </p>

            </div>

            <div class="doaa">
                <p>-رَبِّ اغْفِرْ لِي وَلِوَالِدَيَّ وَلِمَنْ دَخَلَ بَيْتِيَ مُؤْمِنًا وَلِلْمُؤْمِنِينَ
                    وَالْمُؤْمِنَاتِ وَلَا تَزِدِ الظَّالِمِينَ إِلَّا تَبَارًا - نوح: 28
                </p>

            </div>

            <div class="doaa">
                <p>-قُلْ هُوَ اللَّهُ أَحَدٌ * اللَّهُ الصَّمَدُ * لَمْ يَلِدْ وَلَمْ يُولَدْ * وَلَمْ يَكُنْ لَهُ
                    كُفُوًا أَحَدٌ - الإخلاص: 1 – 4
                </p>

            </div>

            <div class="doaa">
                <p>-قُلْ أَعُوذُ بِرَبِّ الْفَلَقِ * مِنْ شَرِّ مَا خَلَقَ * وَمِنْ شَرِّ غَاسِقٍ إِذَا وَقَبَ * وَمِنْ
                    شَرِّ النَّفَّاثَاتِ فِي الْعُقَدِ * وَمِنْ شَرِّ حَاسِدٍ إِذَا حَسَدَ - الفلق: 1 – 5
                </p>

            </div>

            <div class="doaa">
                <p>-قُلْ أَعُوذُ بِرَبِّ النَّاسِ * مَلِكِ النَّاسِ * إِلَهِ النَّاسِ * مِنْ شَرِّ الْوَسْوَاسِ
                    الْخَنَّاسِ * الَّذِي يُوَسْوِسُ فِي صُدُورِ النَّاسِ * مِنَ الْجِنَّةِ وَالنَّاسِ - الناس: 1 – 6
                </p>

            </div>

        </div>


        <div class="mySlides">
            <h1>أدعية من السنة</h1>
            <div class="doaa">
                <p>-اللهم إني ظلمت نفسي ظلمًا كثيرًا، ولا يغفر الذنوب إلاَّ أنت، فاغفر لي من عندك مغفرةً، إنك أنت الغفور
                    الرحيم.
                </p>

            </div>

            <div class="doaa">
                <p>- اللهم إني أعوذ بك من جهد البلاء، ودرك الشقاء، وسوء القضاء، وشماتة الأعداء.
                </p>

            </div>

            <div class="doaa">
                <p>- لا إله إلاَّ الله وحده، أعزَّ جنده، ونصر عبده، وغلب الأحزاب وحده، فلا شيء بعده.
                </p>

            </div>

            <div class="doaa">
                <p>- اللهم إني أعوذ بك من الكسل والهَرَم، والمأثم والمغرم، ومن فتنة القبر، وعذاب القبر، ومن فتنة النار،
                    وعذاب النار، ومن شرِّ فتنة الغنى، وأعوذ بك من فتنة الفقر، وأعوذ بك من فتنة المسيح الدجال، اللهم اغسل
                    عني خطايايَ بماء الثلج والبرد، ونقِّ قلبي من الخطايا كما نقيتَ الثوب الأبيض من الدنس، وباعِد بيني
                    وبين خطاياي كما باعدت بين المشرق والمغرب.
                </p>

            </div>

            <div class="doaa">
                <p>- اللهم اجعل في قلبي نورًا، وفي بصري نورًا، وفي سمعي نورًا، وعن يميني نورًا، وعن يساري نورًا، وفوقي
                    نورًا، وتحتي نورًا، وأمامي نورًا، وخلفي نورًا، واجعل لي نورًا.
                </p>

            </div>

            <div class="doaa">
                <p>- اللهم لك الحمد أنت نور السماوات والأرض ومَن فيهن، ولك الحمد أنت قيم السماوات والأرض ومن فيهن، ولك
                    الحمد أنت الحق، ووعدك حقٌّ، وقولك حق، ولقاؤك حق، والجنة حق، والنار حق، والساعة حق، والنبيون حق،
                    ومحمدٌ حق، اللهم لك أسلمتُ، وعليك توكلت، وبك آمنت، وإليك أنبت، وبك خاصمت، وإليك حاكمت، فاغفر لي ما
                    قدمت وما أخرت، وما أسررت وما أعلنت، أنت المقدِّم وأنت المؤخر، لا إله إلا أنت.
                </p>

            </div>

            <div class="doaa">
                <p>- لا إله إلا الله وحده لا شريك له، له الملك، وله الحمد، وهو على كل شيءٍ قديرٌ، اللهم لا مانع لما
                    أعطيت، ولا معطي لما منعت، ولا ينفع ذا الجد منك الجدُّ.
                </p>

            </div>

            <div class="doaa">
                <p>- لا إله إلا الله العظيم الحليم، لا إله إلا الله رب العرش العظيم، لا إله إلا الله رب السماوات ورب
                    الأرض، ورب العرش الكريم.
                </p>

            </div>

            <div class="doaa">
                <p>- اللهم أحيني ما كانت الحياة خيرًا لي، وتوفني إذا كانت الوفاة خيرًا لي.
                </p>

            </div>

            <div class="doaa">
                <p>- اللهم إني أعوذ بك من الهمِّ والحزن، والعجز والكسل، والبخل والجبن، وضَلَع الدَّين، وغلبة الرجال.
                </p>

            </div>

            <div class="doaa">
                <p>- اللهم إني أعوذ بك من العجز والكسل، والجبن والهرم، وأعوذ بك من عذاب القبر، وأعوذ بك من فتنة المحيا
                    والممات.
                </p>

            </div>

            <div class="doaa">
                <p>- لا إله إلا الله وحده لا شريك له، له الملك، وله الحمد، وهو على كل شيءٍ قدير.
                </p>

            </div>

            <div class="doaa">
                <p>- اللهم صلِّ على محمدٍ، وعلى آل محمدٍ، كما صليت على آل إبراهيم، إنك حميد مجيدٌ، اللهم بارك على محمدٍ،
                    وعلى آل محمدٍ، كما باركت على آل إبراهيم، إنك حميدٌ مجيدٌ.
                </p>

            </div>

            <div class="doaa">
                <p>- سَمَّع سامعٌ بحمدِ الله وحسنِ بلائه علينا، ربَّنا صاحِبْنا وأفضِلْ علينا، عائذًا بالله من النار.
                </p>

            </div>

            <div class="doaa">
                <p>- اللهم أصلح لي ديني الذي هو عصمة أمري، وأصلح لي دنياي التي فيها معاشي، وأصلح لي آخرتي التي فيها
                    معادي، واجعل الحياة زيادةً لي في كل خيرٍ، واجعل الموت راحةً لي من كل شر.
                </p>

            </div>

            <div class="doaa">
                <p>
                    - اللهم احفظني بالإسلام قائمًا، واحفظني بالإسلام قاعدًا، واحفظني بالإسلام راقدًا، ولا تُشْمِتْ بي
                    عدوًّا ولا حاسدًا، اللهم إني أسألك من كل خيرٍ خزائنُه بيدك، وأعوذ بك من كل شرٍّ خزائنُه بيدك.
                </p>

            </div>


        </div>




    </div>



    <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>

    </div>




    <script src="/js/ad3iya.js"></script>




<%- include ("footer") %>
