<%- include ("header") %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="direction: rtl;">
 <p>
    تنقسم أفعال الحج إلى أركان و واجبات وسن، والركن إذا تركه الحاج لا يصخ حجه، والواجب إذا تركة الحاج وجب عليه فدية، والسنة إذا تركها ليس عليه شيء.
<br>
    وينقسم الحج إلى أريع أركان وسبع واجباتٍ.
    <br>
    . أما الأركان فهي :
    <br>
    و الإحرام (وهو نية البدء في مناسك الحج ).
    <br>
    • الوقوف بعرفة.
    <br>
    و طواف الإفاضة.
    <br>
    السعي بين الصفا والمروة.
    <br>
    : وأما واجبات الحج :
    <br>
    • الإحرام من الميقات.
    <br>
    • الوقوف بعرفة إلى غروب الشمس.
    <br>
    • المبيت بمزدلفة.
    <br>
    و المبيت بمني ليالي أيام التشريق.
    <br>
    . رمي الجمرات.
    <br>
    • الحلق أو التقصير
    <br>
    طواف الوداع.
    <br>
    و وباقي أفعال الحج كلها سن .. مثل : طواف القدوم - المبيت بمني يوم الثامن من ذي الحجة - جميع الأذكار الواردة في الحج
    <br>
    . وصفة الحج هي :
    <br>
    . قبل يوم الثامن من ذي الحجة : الإحرام من الميقات .. طواف القدوم .. السعي .. والحلق أو التقصير للمتمتع.
    <br>
    يوم الثامن من ذي الحجة : التوجه إلى مني الإحرام بالحج منها للمتمتع أما والقارن والمفرد فقد أحرما من الميقات. ويصلي الحاج بمنى الصلوات قضرا في موعدها.
    <br>
و يوم التاسع من ذي الحجة : التوجه إلى عرفات وأداء صلاة الظهر والعصر جمعا وقصرا والمكوث بعرفة للدعاء حتى تغيب الشمس ثم يتحرك باتجاه مزدلفة ويصلي بها المغرب والعشاء جمعة وقصرة يبيت ليلته بمزدلفة.
<br>
و يوم العاشر من ذي الحجة : يتحرك الحاج من مزدلفة بعد شروق الشمس متجهة إلى مني يرمي جمرة العقبة الكبرى ثم يحلق أو يقصر شعره .. ويخلع ملابس الإحرام ويتوجه إلى مكة فيطوف طواف الإفاضة وسعي الحج، ثم يعود إلى مخيم من ليبيت فيها .. وذبح الهدي يكون في هذا اليوم، فيوكل الحاج أحد المؤسسات بمكة تذبح عنه الهدي .. ويمكنه دفع قيمة سند الذبح قبل هذا اليوم.
<br>
و يوم الحادي عشر من ذي الحجة : يصلي الحاج كل الصلوات قصرا في وقتها . ويذهب بعد وقت الظهر اليرمي الجمرات .. في رمي الجمرة الأولى بسبع حصيات ويدعو بعدها والثانية بسبع حصيات ويدعو بعدها والثالثة بسبع حصيات ثم يعود إلى مخيم بمني ليبيت ليلته بمني.
<br>
و يوم الثاني عشر من ذي الحجة : يفعل مثلما فعل

في اليوم الحادي عشر من قصر الصلوات ورمي الجمار ولكن إذا أراد أن يتعجل فيغادر مني قبل المغرب . وإذا تأخر لبعد المغرب لزمة المبيت وري الجمرات اليوم التالي.
<br>
و يوم الثالث عشر من ذي الحجة : يفعل ما فعل اليومين الماضيين ويكون رميه ل لجمرات قبل المغرب.
<br>
، ويطوف طواف الوداع قبل مغادرته لمكة مباشرة.
 </p>

<%- include ("footer") %>
