<link rel="stylesheet" href="/css/footer.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
<!--  footer -->
<footer>
  <!-- <div class="Translation">

  <input id="fr" class="translate btn-light px-5 py-2 primary-btn" value="Frensh"/>
  <input id="ar" class="translate btn-light px-5 py-2 primary-btn" value="arabic"/>
  </div> -->
  <div class="footer" style=" margin-top: -272px;">

    <div class="container">
      <div class="rowf">
        <img src="/img/bottom.png" alt="">
        <div class="col-md-12 ">

          <div class="contf">
            <h3> <strong class="multi"> Free Website application for </strong><br>
              <span style="color: black; margin-top: -20px;">hadj & omra guid</span>
            </h3>
          </div>
        </div>

        <div class="col-md-12">
          <ul class="social_iconf">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyrightf">
      <div class="container">
        <div class="rowf">
          <div class="col-md-12">
            <p>Copyright 2020 All Right Reserved By <a href="http://www.esi-sba.dz/"> Free website guid</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->

<!-- <script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
  ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
<script>
$(function() {
    $('.translate').click(function() {
      var lang = $(this).attr('id');

      $('.lang').each(function(index, item) {
         /* if(lang==='ar')
    {
      $("html").children().css("direction","rtl");
    }else
    {
      $("html").children().css("direction","ltr");
    }*/
        $(this).text(arrLang[lang][$(this).attr('key')]);
      });
    });
  });
 var arrLang = {
   ar : {
     intro:".تتفرّع نسك الحج إلى ثلاثة أنواعٍ، وهي: القِران والتمتمع والإفراد، فالمقصود بحجّ القِران أن يجمع الحاجّ بين الحجّ والعمرة في الإحرام، فيُحرم مرةً واحدةً، ولا يتحلّل منه إلّا بعد الانتهاء من أعمال الحجّ كاملةً، أمّا التمتع فيقصد به الإحرام بالعمرة في أشهر الحجّ، ثمّ يتحلّل من إحرامه للعمرة، ويبقى في مكة ثمّ يحرم للحجّ ليؤديده في العام نفسه، وسمي بالتمتع لأنّه الحاجّ يتحلّل من العمرة ويفعل ما يفعله غير المُحرم بين العمرة والحجّ، أمّا الإفراد فيقصد به الإحرام بالحجّ فقط دون العمرة",

     ifradTitre:" حج الافراد",
     ifrad:".وهو أن ينوي المسلم عند إحرامه أداء مناسك الحج فقط، ويقول: 'لبيك بحج'، ثمَّ يصل إلى مكة ويؤدي  مناسك الحج ثمَّ يحرم بنية العمرة ويؤدي مناسكها، وهو الحج الأفضل عند الشافعية والمالكية، وفيما يأتي من فقرات هذا المقال  سيتم الحيث عن الحج المفرد وشروطه بالتفصيل",

     qiranTitre:"حج القران",

     qiran:".حج القِران، هو أحد الأقسام الثلاثة للحج وهو فرض لمن كان أهله حاضر المسجد الحرام، أو قريب من مكة.  يُشترط في هذا الحج أن يصحب المكلف معه الهدي وقت الإحرام وهذا الهدي في هذا الحج واجب لا من حیث الهدي بل من جهة السَوق",

     Tamato3Titre:"حج التمتع",
     Tamato3:".حج التمتع، وهو أحد الأقسام الثلاثة من الحج في الإسلام، وهذا النوع من الحج يجب على من كان البُعد بين أهله و المسجد الحرام أكثر من 16 فرسخ أو 48 ميل. يتكون حج التمتع من جزئين: عمرة التمتع وحج التمتع"

   },
   fr : {
     intro:"Il y a trois types de hajj:  Hajj Al-Qiran,Al-Tamattu‘ et Hajj Al-Ifrad. Hajj Al-Qiran désigne le pèlerin qui entre en état de sacralisation avec la volonté de faire le Hajj et la Omra en même temps, il ne quitte alors l'Irham qu’après le jet de cailloux et le rasage ou le raccourcissement.Hajj Al-Tamattu‘ est composé d’une Omra et d’un hajj,après avoir accompli les rites de la Omra, le pèlerin pourra se dessacraliser et faire tout ce qui est interdit à un pèlerin qui est en état d’al–ihram, et cela jusqu’au moment où il commencera à faire les rites du hajj.Hajj Al-Ifrad consiste à effectuer le Hajj seulement sans la Omra.",

     ifradTitre:"Hajj Al-Ifrad",
     ifrad :"C’est le fait de formuler, au moment de sacralisation pour le Hajj au cours des mois Mîqât, l’intention d’accomplir uniquement le Hajj, en disant : « labbayka bi hajj »,Le pèlerin donc  accomplit le tawaf e d’arrivée (al-qoudoum) et demeure en ihram jusqu’au moment du Hajj ; pour accomplir les rites du Hajj. Lorsqu’il termine les rites de Hajj , il ressort de la Mecque et se remet en état de l’Ihram avec l’intention de faire la Omra .",

     qiranTitre:"Hajj Al-Qiran",
     qiran:"C’est le fait que Le pèlerin formule l’intention d’accomplir à la fois le hajj et la ’omra. ce type n’est permis que pour les gens  qui habitent aux alentours de la Mecque.Il est stipulé dans ce pèlerinage que le responsable du pèlerinage accompagne le pélerin à l'époque d'Ihram.",

     Tamato3Titre:"Al-Tamattu‘",
     Tamato3:"Un des trois types du hajj dans l'Islam qui est obligatoire pour les gens qui habitent loin de la Mecque (dit les hanbalites) pendant les mois du Hadj. Al-Tamattu‘ est composé essentiellement de deux parties: Omra Al-Tamattu‘ et Hajj Al-Tamattu‘."
   }
 };</script> -->
</body>

</html>
