<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signstyle.css">
    <link rel="stylesheet" href="/css/mobile-style.css">
    <link rel="stylesheet" href="/css/forgot-pass.css">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g fa-2x"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in fa-2x"></i></a>
                </div>
                <span>or use your email for registration</span>
                <span class="input-item">
                    <i class="fa fa-user fa-2x"></i>
                </span>
                <input type="text" placeholder="Name"></input>
                <span class="input-item">
                    <i class="fas fa-envelope fa-2x"></i>
                </span>
                <input type="email" placeholder="Email" ></input>
                <span class="input-item">
                    <i class="fa fa-key fa-2x"></i>
                </span>
                <input type="password" placeholder="Password" id="pwd" name="password"></input>
                <span>
                    <i class="fa fa-eye fa-2x" aria-hidden="true" type="button" id="eye"></i>
                </span>


            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="http://localhost:8080/forgotPSW" method="post">
                <h3>Récupérer votre mot de passe</h3>

                <span class="input-item">
                    <i class="fas fa-envelope fa-2x"></i>
                </span>
                <p>vous devez entrer votre email ici pour récupérer votre mot de passe</p>
                <input type="email" placeholder="Email" class="spaceholder" name="forgot"></input>
                <!--<div data="checkbox-switch">
                    <input type="checkbox" id="switch" />
                    <label for="switch"></label>
                </div>-->
                <% if (locals.msg) {%>
                <p style="font-size: 14px;margin-bottom: 0px;margin-top: 5px;" id="checkmsg"><%= msg %></p>
                <%}%>
                <button >Envoyer <i class="fas fa-sign-in-alt fa-2x"></i></button>

            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>You need to put your Email adress to get your Password</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <b> Follow us on </b>
        <div class="icons">
            <a href="https://github.com/kvaibhav01" target="_blank" class="social"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/vaibhavkhulbe143/" target="_blank" class="social"><i
                    class="fab fa-instagram"></i></a>

            <a href="https://twitter.com/vaibhav_khulbe" target="_blank" class="social"><i
                    class="fab fa-twitter-square"></i></a>
            <a href="https://linkedin.com/in/vaibhav-khulbe/" target="_blank" class="social"><i
                    class="fab fa-linkedin"></i></a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/sign.js"></script>
</body>

</html>
