<%- include ("header") %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loisir</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/fontawesome.min.css"
        integrity="sha256-0mlw4Ae1j9eDzZTzLuw5X9fBCL9nAehrtVyKfIstZQA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
        integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />
</head>

<body>
    <!-- ================ begin of restaurant ================= -->
    <section class="popular-course-area section-gap">
        <div class="container-fluid">
            <div class="row justify-content-center section-title">
                <div class="col-lg-12">
                    <h2>
                        Quelques Restaurants
                    </h2>
                    <p>
                        quelque restaurant en saudi arabien .
                    </p>
                </div>
            </div>
            <div class="owl-carousel popuar-course-carusel">
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/loisir1.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name" style="font-family: 'Almarai', sans-serif;">مطعم فود ماستر
                            </p>
                            <p class="value">$150</p>
                        </div>
                        <a href="#">
                            <h4>7230 Sayyid Ash Shuhada, Al Masani, Medina 42313</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>

                            <p class="ml-20">563 avis </p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/loisir2.jpeg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">MATAAM SAUDIA ALWAJH
                            </p>
                            <p class="value">$150</p>
                        </div>
                        <a href="#">
                            <h4>Al Aziziah, Al Wajh 48721,
                                <br> Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">25 avis</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/loisir4.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Safra Saudia

                            </p>
                            <p class="value">$150</p>
                        </div>
                        <a href="#">
                            <h4>An Nur, Jabal An Nur, Mecca 24238, Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-star-half"></i></a>
                                    <!--<i class="fas fa-star-half-alt"></i> nos 3amr----->
                                </li>

                            </ul>
                            <p class="ml-20">89 avis</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/loisir5.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Hardee's</p>
                            <p class="value">$150</p>
                        </div>
                        <a href="#">
                            <h4>TAHLIA ROAD، Ar Rawdah, Jeddah 22425, Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">229 avis</p>
                        </div>
                    </div>
                </div>
                <div class="single-popular-course sghira">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/appetizer-1846083.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Zaiqa Alyum Restaurant
                            </p>
                            <p class="value">$150</p>
                        </div>
                        <a href="#">
                            <h4>TAHLIA ROAD، Ar Rawdah, Jeddah 22425,
                                <br> Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-star-half"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">368 avis</p>
                        </div>
                    </div>
                </div>
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/loisir7.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Sialkot Restaurant

                            </p>
                            <p class="value">$150</p>
                        </div>
                        <a href="#">
                            <h4>Jarir,
                                <br> Riyadh 12833, <br>
                                Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">182 avis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End of restaurant ================= -->



    <!-- ================ begin of places ================= -->
    <section class="popular-course-area section-gap">
        <div class="container-fluid">
            <div class="row justify-content-center section-title">
                <div class="col-lg-12">
                    <h2>
                        Quelques places a visité
                    </h2>
                    <p>
                        quelque places en saudi arabien .
                    </p>
                </div>
            </div>
            <div class="owl-carousel popuar-course-carusel">
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/haram.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name"> Masjid al-Haram

                            </p>

                        </div>
                        <a href="#">
                            <h4>La mosquée al-Harâm, ou grande mosquée de la Mecque, est une mosquée de la ville de La
                                Mecque en Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                            </ul>

                            <p class="ml-20">277 844 avis</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/madan2.jfif" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Madâin Sâlih

                            </p>

                        </div>
                        <a href="#">
                            <h4>Madâin Sâlih ou Madain Saleh est un lieu situé au nord-ouest de l'Arabie saoudite.</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">2534 avis</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/fahd2.jfif" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Jet d'eau du roi Fahd


                            </p>

                        </div>
                        <a href="#">
                            <h4>Le jet d'eau du roi Fahd, haut au maximum de 312 mètres, est l'emblème de la ville de
                                Djeddah depuis sa mise en service
                                en 1985.</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-star-half"></i></a>
                                    <!--<i class="fas fa-star-half-alt"></i> nos 3amr----->
                                </li>

                            </ul>
                            <p class="ml-20">21 115 avis</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/bordj.jfif" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Abraj Al Bait Towers
                            </p>

                        </div>
                        <a href="#">
                            <h4>L'Abraj Al Bait Towers est un complexe formé de sept gratte-ciels situé à La Mecque,
                                dont les travaux ont été achevés en
                                2012.</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-star-half"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">17 451 avis</p>
                        </div>
                    </div>
                </div>
                <div class="single-popular-course sghira">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/quba.jfif" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Mosquée de Quba

                            </p>

                        </div>
                        <a href="#">
                            <h4>La mosquée de Quba, à environ 3 km au sud du centre-ville de Médine en Arabie saoudite
                            </h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-star-half"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">72 183 avis</p>
                        </div>
                    </div>
                </div>
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/atalah.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Atallah Happy Land Park


                            </p>

                        </div>
                        <a href="#">
                            <h4>parc d'attractions
                                <br> King Abdul Aziz Rd, <br>
                                Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">8 333 avis</p>
                        </div>
                    </div>
                </div>
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/cornich3.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">New Jeddah Corniche
                            </p>
                        </div>
                        <a href="#">
                            <h4>Pavillon de plage
                                <br> jeddah, <br>
                                Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">5 101 avis</p>
                        </div>
                    </div>
                </div>
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/cornich3.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">New Jeddah Corniche
                            </p>
                        </div>
                        <a href="#">
                            <h4>Pavillon de plage
                                <br> jeddah, <br>
                                Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">5 101 avis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End of places ================= -->



    <!-- ================ begin of super marché ================= -->
    <section class="popular-course-area section-gap">
        <div class="container-fluid">
            <div class="row justify-content-center section-title">
                <div class="col-lg-12">
                    <h2>
                        Quelques super macrhés
                    </h2>
                    <p>
                        quelque super marchés en saudi arabien .
                    </p>
                </div>
            </div>
            <div class="owl-carousel popuar-course-carusel">
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/marché1.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name"> Noori Supermarket

                            </p>

                        </div>
                        <a href="#">
                            <h4>Masjid Ash Shaikh Ibn Baz, ااانوري، Mecca 24243, Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>

                            <p class="ml-20">3023 avis </p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/fruit-426002_1920.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Tamimi Markets

                            </p>

                        </div>
                        <a href="#">
                            <h4>Prince Turkey Street, Al Khobar Al Shamalia, Al Khobar 34427, Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a><i class="fas fa-star-half-alt"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">812 avis</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/cheese-2725235.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Super Marché


                            </p>

                        </div>
                        <a href="#">
                            <h4>6791 Al Mansuriah Street, Ar Rusayfah, Mecca 24232 3157, Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>

                            </ul>
                            <p class="ml-20">348 avis</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/kabayan.PNG" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Kabayan Supermarket
                            </p>

                        </div>
                        <a href="#">
                            <h4>At Tilfizyun St, Ghulail, Jeddah 22413, Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">379 avis</p>
                        </div>
                    </div>
                </div>
                <div class="single-popular-course sghira">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/vegetables-4995737.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Carrefour Market

                            </p>

                        </div>
                        <a href="#">
                            <h4>TAHLIA ROAD، Ar Rawdah, Jeddah 22425,
                                <br> Arabie saoudite</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">1 267 avis</p>
                        </div>
                    </div>
                </div>
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="img/supermarket-507295_1920.jpg" alt="" />
                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">Al Raya Supermarket


                            </p>

                        </div>
                        <a href="#">
                            <h4>Alqndeel, Aziziyah, Jeddah 23333,
                                <br>Arabie saoudite <br>
                            </h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">1 685 avis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End of super marché ================= -->





    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/mainloisir.js">

    </script>
</body>

<%- include ("footer") %>
