<%- include ("header") %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="direction: rtl;">
    <h4>
    كيف تتجول في مكة المكرمة: أفضل خيارات التنقل لك
</h4>
<p>
هل تخطط لزيارة مكة المكرمة وتتساءل كيف تتجول فيها؟ فيما يلي نظرة عامة مبسطة على شبكة النقل الممتازة بالمدينة، والتي تغطي جميع مناطق المدينة المقدسة وخارجها.

يتحسن النقل العام في مكة باستمرار بفضل المبادرات الحكومية، مما يجعل من الأسهل والأسرع للزوار الوصول إلى المسجد الحرام والمناطق المركزية الأخرى والأماكن المقدسة في مكة، حتى خلال أوقات الازدحام مثل رمضان وموسم الحج.
</p>
<h4>
الحافلات العامة: نظيفة وفعالة
</h4>
<p>
تعمل الحافلات العامة العادية التي تديرها شركة النقل العام السعودية، سابتكو، على طرق محددة داخل مكة المكرمة. الحافلات بين المدن تعمل أيضا بين جميع المدن في المملكة العربية السعودية. يمكنك التحقق من جداول مواعيد الحافلات هنا.

ومن المخطط إنشاء شبكة أكثر اتساعًا من خطوط الحافلات داخل المدينة وحولها كجزء من برنامج المواصلات العامة بمكة المكرمة.
</p>
<h4>
مترو مكة المكرمة: مثالي للحج
</h4>
<p>
برغم افتتاحه في عام 2010، إلا أن خط مترو المشاعر المقدسة لا يعمل إلا أثناء الحج، وينقل الآلاف من الحجاج بسرعة وسهولة بين مكة وجبل عرفات ومزدلفة ومنى. بيد أنه من المقرر أن يتم توسيع نظام المترو مع خطوط جديدة لخدمة السكان والحجاج على مدار السنة.
</p>
<h4>
النقابة العامة للحافلات والسيارات:  خيار الحج الجيد
</h4>
<p>
تعمل خلال موسم الحج فقط، وتدير النقابة العامة للسيارات عدة آلاف من الحافلات تنقل الحجاج بين مختلف المواقع المقدسة.
</p>
<h4>
قطار الحرمين السريع:
</h4>
<p>
ويعرف قطار الحرمين الجديد أيضاً باسم خط سكك الحديد السريع بين مكة المكرمة والمدينة المنورة. بدأ هذا القطار الجديد العمل في أوائل عام 2018. وسوف يقلل زمن الرحلة من مكة إلى المدينة المنورة من 6 ساعات إلى ساعتين ونصف. يمر القطار عبر مدينتي جدة ورابغ. وتنقسم التذاكر إلى ثلاث فئات: درجة رجال الأعمال، درجة أولى وطبقة سياحية.
</p>
<h4>
توافر سيارات الأجرة في كل مكان:
</h4>
<p>
يمكنك استقلال سيارات الأجرة في أي مكان في مكة المكرمة. ولا يستخدم السائقون عادة العداد، لذلك تكون الأجرة قابلة للتفاوض. وخلال العشر الأواخر من شهر رمضان وموسم الحج، قد يكون الأجر أعلى بثلاث مرات بسبب الازدحام المروري والزيادة العالية في الطلب.
</p>
<h4>
حافلات خاصة للحجاج
</h4>
<p>
تعمل الحافلات المكيفة عالية الجودة والتي تديرها شركات خاصة (مثل دلة ورواحل) على طرق محددة خلال موسمي العمرة والحج.
</p>
<h4>
خدمات حجز السيارات والسائق
</h4>
<p>
توفر أوبر وكريم خدمات السائق الخاص داخل مكة المكرمة. يمكنك طلب سيارة عن طريق الاتصال بالشركة أو باستخدام تطبيق جوال مرتبط ببطاقة ائتمان. يرتفع السعر قليلاً عن سيارة الأجرة العادية.
</p>
<h4>
استئجار سيارة في مكة المكرمة
</h4>
<p></p>
يمكن لمواطني دول مجلس التعاون الخليجي والزوار الذين لديهم رخص قيادة دولية، وكذلك المغتربين المقيمين في المملكة، استئجار سيارات من مكاتب تأجير مختلفة في مكة المكرمة.
</p>
<h4>
المشي: أفضل طريقة لتجنب الازدحام
</h4>
<p>
برغم التحسينات الكبيرة التي أجريت على خيارات التنقل في مكة، إلا أن المشي لا يزال أفضل طريقة للتجول في المدينة خلال شهر رمضان وموسم الحج. إذ يساعدك هذا على تجنب الازدحام المروري والتأقلم مع الحشود الكبيرة، فضلا عن ارتفاع أسعار تكلفة سيارات الأجرة.
</p>

<%- include ("footer") %>
