.container .input-item i{
    margin-top: 110px;
}

 .content {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 width: 50%;
	 height: 50%;
	 transform: translate(-50%, -50%);
	 margin: auto;
	 background: #fff;
}
 .content > div {
	 position: absolute;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 top: 0;
     margin: auto;
     
}
 [data='checkbox-switch'] {
	 position: relative;
	 width: 60px;
     height: 30px;
  
}
 [data='checkbox-switch'] input[type="checkbox"] {
     opacity: 0;
      margin-left: -110px;
    margin-top: 6px;
}
 [data='checkbox-switch'] input[type="checkbox"] ~ label {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 background: #ccc;
	 border-radius: 30px;
	 cursor: pointer;
     transition: all 0.3s;
      margin-left: -110px;
    margin-top: 6px;
}
 [data='checkbox-switch'] input[type="checkbox"] ~ label:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0px;
	 width: 26px;
	 height: 26px;
	 border-radius: 50%;
	 border: 2px solid #ccc;
	 background-color: #fff;
     transition: all 0.3s;
   
}
 [data='checkbox-switch'] input[type="checkbox"]:checked ~ label {
	 background: dodgerblue;   
}
 [data='checkbox-switch'] input[type="checkbox"]:checked ~ label:after {
	 left: 30px;
     border-color: dodgerblue;
    
}
 