@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
 body {
	 background-color: #f8f8f8;
	 font-family: 'Roboto', sans-serif;
	 font-weight: 300;
}
.container2{
        margin-top: 78px;
	
			margin-left: 28px;
			  
}
.btncard1{
    margin-left: 108px;
}
 .row {
	 min-height: 100vh;
	 margin-left: 25px;
}
 .card2 {
	 border: 0;
	 border-radius: 0px;
	 -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
	 box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
	 transition: all 0.3s ease-in-out;
	 padding: 2.25rem 0;
	 position: relative;
     will-change: transform;
	 height: 500px;
	 color: #5baeb1;
	     width: 346px;
}
 .card2:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 0%;
	 height: 5px;
	 background-color: #5baeb1;  
	 transition: 0.5s;
}
 .card2:hover {
	 transform: scale(1.05);
	 -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
	 box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
}
 .card2:hover:after {
	 width: 100%;
}
 .card2 .card-header {
	 background-color: white;
	 padding-left: 2rem;
	 border-bottom: 0px;
}
 .card2 .card-title {
	 margin-bottom: 1rem;
}
 .card2 .card-block {
     padding-top: 0;
         margin-left: 111px;
             margin-top: 10px;
}
 .card2 .list-group-item {
	 border: 0px;
	 padding: 0rem;
	 color: #808080;
	 font-weight: 300;
}
 .display-2 {
	 font-size: 7rem;
	 letter-spacing: -0.5rem;
}
 .display-2 .currency {
	 font-size: 2.75rem;
	 position: relative;
	 font-weight: 400;
	 top: -45px;
	 letter-spacing: 0px;
}
 .display-2 .period {
	 font-size: 1rem;
	 color: #b3b3b3;
	 letter-spacing: 0px;
}
 .btnm {
	 text-transform: uppercase;
	 font-size: 0.75rem;
	 font-weight: 500;
	 color: #a6a6a6;
	 border-radius: 0;
	 padding: 0.75rem 1.25rem;
	 letter-spacing: 1px;
}
 .btn-gradient2 {
	 background-color: #f2f2f2;
     transition: background 0.3s ease-in-out;
    
}

 .btn-gradient2:hover {
	 color: white;
	 background-color: #5baeb1;   /*57e2b2*/
}
.card-header2 h2{
 font-family: 'cairo', sans-serif; 
    font-size: large;
    text-align: center;
    font-size: 40px;
}
.card-text2{
        width: 77%;
    text-align: center;
    margin-left: 40px;
   color: black;
}


.lwl{
    margin-left: 117px;
}

 h4{ 
    font-family: 'almarai', sans-serif;
    font-size: x-large; 
    font-size: 20px;
}
 h1{
    font-family: 'cairo', sans-serif; 
    font-size: large;
    text-align: center;
    font-size: 80px;
    margin-bottom: 80px;
}
h2{
    font-family: 'cairo', sans-serif; 
    font-size: large;
    text-align: center;
	font-size: 53px;
	
}
  p{
    font-family: 'cairo', sans-serif; 
    font-size: large;
    text-align: center;
    font-size: 30px;
}

 .textal2 h4{
   margin-bottom: 60px;
   color: black;
 }
.textal h4{
   margin-bottom: 70px;  
   color: black;     
 }

 /* pour text changer*/
 .content2 {
	 position: absolute;
	 transform: translate(-50%, -50%);
	 height: 160px;
	 overflow: hidden;
	 font-family: 'Lato', sans-serif;
	 font-size: 35px;
	 line-height: 40px;
     color: black;
  margin-left: 635px;
    margin-bottom: 115px;
    margin-top: 90px;
}
.content__container p{
     font-size: 37px;
}
 .content__container {
	font-family: 'cairo', sans-serif; 
	 overflow: hidden;
	 height: 48px;
	 padding: 0 40px;
}
 .content__container:before {
	 content: '[';
	 left: 0;
}
 .content__container:after {
	 content: ']';
	 position: absolute;
	 right: 0;
}
 .content__container:after, .content__container:before {
	 position: absolute;
	 top: 0;
	 color:#5baeb1 ;
	 font-size: 42px;
	 line-height: 40px;
	 -webkit-animation-name: opacity;
	 -webkit-animation-duration: 2s;
	 -webkit-animation-iteration-count: infinite;
	 animation-name: opacity;
	 animation-duration: 2s;
	 animation-iteration-count: infinite;
}
 .content__container__text {
	 display: inline;
	 float: left;
     margin: 0;
     margin: -2px;
    margin-left: 200px;
    margin-right: 40px;
}
 .content__container__list {
	 margin-top: -4px;
	 padding-left: 110px;
	 text-align: left;
	 list-style: none;
	 -webkit-animation-name: change;
	 -webkit-animation-duration: 10s;
	 -webkit-animation-iteration-count: infinite;
	 animation-name: change;
	 animation-duration: 10s;
     animation-iteration-count: infinite;
     margin-right: -107px;
      
    margin-left: -19px;
}
 .content__container__list__item {
	 line-height: 50px;
     margin: 0;
         margin-left: -30px;
}
 @-webkit-keyframes opacity {
	 0%, 100% {
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
}
 @-webkit-keyframes change {
	 0%, 12.66%, 100% {
		 transform: translate3d(0, 0, 0);
	}
	 16.66%, 29.32% {
		 transform: translate3d(0, -25%, 0);
	}
	 33.32%, 45.98% {
		 transform: translate3d(0, -50%, 0);
	}
	 49.98%, 62.64% {
		 transform: translate3d(0, -75%, 0);
	}
	 66.64%, 79.3% {
		 transform: translate3d(0, -50%, 0);
	}
	 83.3%, 95.96% {
		 transform: translate3d(0, -25%, 0);
	}
}
 @-o-keyframes opacity {
	 0%, 100% {
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
}
 @-o-keyframes change {
	 0%, 12.66%, 100% {
		 transform: translate3d(0, 0, 0);
	}
	 16.66%, 29.32% {
		 transform: translate3d(0, -25%, 0);
	}
	 33.32%, 45.98% {
		 transform: translate3d(0, -50%, 0);
	}
	 49.98%, 62.64% {
		 transform: translate3d(0, -75%, 0);
	}
	 66.64%, 79.3% {
		 transform: translate3d(0, -50%, 0);
	}
	 83.3%, 95.96% {
		 transform: translate3d(0, -25%, 0);
	}
}
 @-moz-keyframes opacity {
	 0%, 100% {
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
}
 @-moz-keyframes change {
	 0%, 12.66%, 100% {
		 transform: translate3d(0, 0, 0);
	}
	 16.66%, 29.32% {
		 transform: translate3d(0, -25%, 0);
	}
	 33.32%, 45.98% {
		 transform: translate3d(0, -50%, 0);
	}
	 49.98%, 62.64% {
		 transform: translate3d(0, -75%, 0);
	}
	 66.64%, 79.3% {
		 transform: translate3d(0, -50%, 0);
	}
	 83.3%, 95.96% {
		 transform: translate3d(0, -25%, 0);
	}
}
 @keyframes opacity {
	 0%, 100% {
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
}
 @keyframes change {
	 0%, 12.66%, 100% {
		 transform: translate3d(0, 0, 0);
	}
	 16.66%, 29.32% {
		 transform: translate3d(0, -25%, 0);
	}
	 33.32%, 45.98% {
		 transform: translate3d(0, -50%, 0);
	}
	 49.98%, 62.64% {
		 transform: translate3d(0, -75%, 0);
	}
	 66.64%, 79.3% {
		 transform: translate3d(0, -50%, 0);
	}
	 83.3%, 95.96% {
		 transform: translate3d(0, -25%, 0);
	}
}
.textchange{
    margin-top: 36px;
    
}

/* pour text animation*/


 .bigger {
	 margin: 0;
	 font-size: 100px;
	 font-weight: 800;
	 padding: 20px;
	 text-transform: uppercase;
	 color: #202020;
	 display: inline-block;
      margin-left: 382px;
}
 .text {
	    /* max-width: 1000px; */
    width: 100%;
   margin-top: 60px;
    color: #404040;
	padding: 37px;
	padding-left: 33px;
}
 .text.txt-center {
	 text-align: center;
}
 .text a {
	 color: #5baeb1;
}

.has-animation {
	 position: relative;
}
 .has-animation p, .has-animation img,  .has-animation h2 {
	 opacity: 0;
}
 .has-animation.animate-in p, .has-animation.animate-in img {
     animation: textHidden 0.1s 1.1s forwards;
     
}
 .has-animation.animate-in:before, .has-animation.animate-in:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 right: 0;
	 height: 100%;
	 z-index: 10;
}
 .has-animation.animate-in:before {
	 background-color: #64d6da;
}
 .has-animation.animate-in:after {
	 background-color: #202020;
	 animation-delay: 0.5s;
}
 .has-animation.animation-ltr.animate-in:before {
	 animation: revealLTR 1.8s ease;
}
 .has-animation.animation-ltr.animate-in:after {
	 animation: revealLTR 1s 0.6s ease;
}
 .has-animation.animation-rtl.animate-in:before {
	 animation: revealRTL 1.8s ease;
}
 .has-animation.animation-rtl.animate-in:after {
	 animation: revealRTL 1s 0.6s ease;
}
 @keyframes revealRTL {
	 0% {
		 width: 0;
		 right: 0;
	}
	 65% {
		 width: 100%;
		 right: 0;
	}
	 100% {
		 width: 0;
		 right: 100%;
	}
}
 @keyframes revealLTR {
	 0% {
		 width: 0;
		 left: 0;
	}
	 65% {
		 width: 100%;
		 left: 0;
	}
	 100% {
		 width: 0;
		 left: 100%;
	}
}
 @keyframes textHidden {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
.go{
	   position: absolute;
    margin-top: 180px;
    /* margin-right: 219px; */
    margin-left: -388px;
    font-size: 48px;
    font-family: 'cairo', sans-serif;
    
}

/* pour les photos animation*/
 a:hover{
   color: black;
   text-decoration: none;
 }

 .row2{
      margin-top: 0px;
}