@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, dodgerblue,#bdbdbd);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;

}

header .nav-item:last-child {
  padding-right: 10.5em;

}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
    margin-top: -4px;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;

}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: var(--bggradient);

}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;

}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

.navbar-nav{
      margin-right: -130px;
}
.navbar-brand{
  margin-left: -105px;
}
.rotateimg180 {
  -webkit-transform:rotate(355deg);
  -moz-transform: rotate(355deg);
  -ms-transform: rotate(355deg);
  -o-transform: rotate(355deg);
  transform: rotate(355deg);
}




/********** section 1 **************/

.section-1 {
  padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 8vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/*  Section 2  */

.cover {
  width: 100%;
  height: 55vmin;
  background: url("../assets/pexels-photo-452738.jpeg");
  background-position: -24rem -19rem;
  background-size: 150%;
  position: relative;
   margin-top: -130px;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 19vmin;
}

.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content > p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 5rem;
  color: tomato;
}

.numbers .rect > p {
  font-family: var(--Patua);
}

.purchase > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text {
  padding: 2.5rem 3rem;
  color: var(--light-black);
}

.card-body .pricing {
  background: rgba(208, 241, 241, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}

/* Section 3 */

.section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}

/* Section Team */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-4 .team {
  padding: 10vmin 4vmin;
}

.section-4 .card {
  width: 22em;
  margin-top: 10vmin;
}

.section-4 .card .card-text {
  padding: 0.5em;
}

.section-4 .card-body > a {
  font-size: 1.5em;
}

.section-4 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
 background:  rgba(21, 21, 21, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color:dodgerblue;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color:dodgerblue;
}

/* It is Adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}





/*pour les cards*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);
.snip1482 {
  font-family: 'Fauna One', Arial, sans-serif;
  position: relative;
  margin: 0px 22px;
  min-width: 206px;
  max-width: 321px;
  min-height: 183px;
  width: 20%;
  color: black;
  text-align: right;
  line-height: 1.4em;
  background-color:#fff;
  font-size: 16px;
  display: inline-flex;
 margin-left: 70px;
  margin-bottom: 220px;
  margin-top: -120px;
  margin-right: 35px;
}
.snip1482 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}
.snip1482 img {
  position: absolute;
  right: 0%;
  top: 64%;
  opacity: 1;
  width: 110%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  margin-top: 40px;
  margin-top: 60px;
}


.snip1482 figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;
}
.snip1482 p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
}
.snip1482 h2 {
    font-family: 'Almarai', sans-serif;
    text-transform: uppercase;
    margin-bottom: 204px;
   margin-left: 39px;
    width: 94%;
}

.snip1482 p {
  font-size: 0.8em;
}
.snip1482 a{
  position: absolute;
  top: 0;
  bottom: 0;
  left:50px;
  right: 0;
  z-index: 1;
}

.snip1482 button{
    margin-top: 450px;
    margin-left: 83px;
    width: 60px;
    height: 30px;
    border-radius: 30px;
 height: 33px;

}
.snip1482:hover img,
.snip1482.hover img {
  width: 70%;
  position: center;
  left: 7%;
  top:70%;
}

.snip1482:hover figcaption h2,
.snip1482.hover figcaption h2,
.snip1482:hover figcaption p,
.snip1482.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 0.9;
}


/*button pour kabl rihla*/
.btnstyle{
    display: inline-block;
    color: #fff;

    width: 280px;
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: dodgerblue;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
    border: 1px solid #dedede
}
/* buttons hover */
.btnstyle:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
.btnstyle:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
.spaceholder{
  margin-left: 10px;
}
/*pour le button de sign up*/
.span{
  width: 100%;
  border-radius: 45%;
  height: 100%;
  margin-top: -2px;
  margin-left: -8px;
}




/* loisir section*/
#wrap {
    margin: 0px auto;
    height: 100px;
    width: 500px;
    margin-top: 0px;
    margin-left: 515px;
    margin-bottom: 36px;
}

#wrap p {
  float: left;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
}

#wrap p:nth-child(1) {
   -webkit-animation: one 2s infinite;
  -moz-animation: one 2s infinite;
  -ms-animation: one 2s infinite;
  -o-animation: one 2s infinite;
  animation: one 2s infinite;
}

#wrap p:nth-child(2) {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -ms-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation: two 2s infinite;
  -moz-animation: two 2s infinite;
  -ms-animation: two 2s infinite;
  -o-animation: two 2s infinite;
  animation: two 2s infinite;
}

#wrap p:nth-child(3) {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -ms-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation: three 2s infinite;
  -moz-animation: three 2s infinite;
  -ms-animation: three 2s infinite;
  -o-animation: three 2s infinite;
  animation: three 2s infinite;
}

#wrap p:nth-child(4) {
   -webkit-animation-delay: .5s;
   -moz-animation-delay: .5s;
   -ms-animation-delay: .5s;
   -o-animation-delay: .5s;
   animation-delay: .5s;
   -webkit-animation: four 2s infinite;
  -moz-animation: four 2s infinite;
  -ms-animation: four 2s infinite;
  -o-animation: four 2s infinite;
  animation: four 2s infinite;
}

#wrap p:nth-child(5) {
   -webkit-animation-delay: .5s;
   -moz-animation-delay: .5s;
   -ms-animation-delay: .5s;
   -o-animation-delay: .5s;
   animation-delay: .5s;
   -webkit-animation: five 2s infinite;
  -moz-animation: five 2s infinite;
  -ms-animation: five 2s infinite;
  -o-animation: five 2s infinite;
  animation: five 2s infinite;
}

#wrap p:nth-child(6) {
   -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -ms-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
 -webkit-animation: six 2s infinite;
  -moz-animation: six 2s infinite;
  -ms-animation: six 2s infinite;
  -o-animation: six 2s infinite;
  animation: six 2s infinite;
}

#wrap p:nth-child(7) {

   -webkit-animation-delay: .5s;
   -moz-animation-delay: .5s;
   -ms-animation-delay: .5s;
   -o-animation-delay: .5s;
   animation-delay: .5s;
  -webkit-animation: seven 2s infinite;
  -moz-animation: seven 2s infinite;
  -ms-animation: seven 2s infinite;
  -o-animation: seven 2s infinite;
  animation: seven 2s infinite;
}

@-webkit-keyframes one {
  0% {opacity: 1;}30% {opacity: 0;}100%{opacity: 1;}}

@-moz-keyframes one {
  0% {opacity: 1;}30% {opacity: 0;}100%{opacity: 1;}}

@-ms-keyframes one {
  0% {opacity: 1;}30% {opacity: 0;}100%{opacity: 1;}}

@-o-keyframes one {
  0% {opacity: 1;}30% {opacity: 0;}100%{opacity: 1;}}

@-keyframes one {
  0% {opacity: 1;}30% {opacity: 0;}100%{opacity: 1;}}


@-webkit-keyframes two {0% {opacity: 1;}40% {opacity: 0;}100% {opacity: 1;}}

@-moz-keyframes two {0% {opacity: 1;}40% {opacity: 0;}100% {opacity: 1;}}

@-ms-keyframes two {0% {opacity: 1;}40% {opacity: 0;}100% {opacity: 1;}}

@-o-keyframes two {0% {opacity: 1;}40% {opacity: 0;}100% {opacity: 1;}}

@-keyframes two {0% {opacity: 1;}40% {opacity: 0;}100% {opacity: 1;}}


@-webkit-keyframes three {0% {opacity: 1;}50% {opacity: 0;}100% {opacity: 1;}}

@-moz-keyframes three {0% {opacity: 1;}50% {opacity: 0;}100% {opacity: 1;}}

@-ms-keyframes three {0% {opacity: 1;}50% {opacity: 0;}100% {opacity: 1;}}

@-o-keyframes three {0% {opacity: 1;}50% {opacity: 0;}100% {opacity: 1;}}

@-keyframes three {0% {opacity: 1;}50% {opacity: 0;}100% {opacity: 1;}}




@-webkit-keyframes four {0% {opacity: 1;}60% {opacity: 0;}100% {opacity: 1;}}

@-moz-keyframes four {0% {opacity: 1;}60% {opacity: 0;}100% {opacity: 1;}}

@-ms-keyframes four {0% {opacity: 1;}60% {opacity: 0;}100% {opacity: 1;}}

@-o-keyframes four {0% {opacity: 1;}60% {opacity: 0;}100% {opacity: 1;}}

@-keyframes four {0% {opacity: 1;}60% {opacity: 0;}100% {opacity: 1;}}

@-webkit-keyframes five {0% {opacity: 1;}70% {opacity: 0;}100% {opacity: 1;}}

@-ms-keyframes five {0% {opacity: 1;}70% {opacity: 0;}100% {opacity: 1;}}

@-moz-keyframes five {0% {opacity: 1;}70% {opacity: 0;}100% {opacity: 1;}}

@-o-keyframes five {0% {opacity: 1;}70% {opacity: 0;}100% {opacity: 1;}}

@-keyframes five {0% {opacity: 1;}70% {opacity: 0;}100% {opacity: 1;}}



@-webkit-keyframes six {0% {opacity: 1;}80% {opacity: 0;}100% {opacity: 1;}}

@-moz-keyframes six {0% {opacity: 1;}80% {opacity: 0;}100% {opacity: 1;}}

@-ms-keyframes six {0% {opacity: 1;}80% {opacity: 0;}100% {opacity: 1;}}

@-o-keyframes six {0% {opacity: 1;}80% {opacity: 0;}100% {opacity: 1;}}

@-keyframes six {0% {opacity: 1;}80% {opacity: 0;}100% {opacity: 1;}}



@-webkit-keyframes seven {0% {opacity: 1;}90% {opacity: 0;}100% {opacity: 1;}}

@-moz-keyframes seven {0% {opacity: 1;}90% {opacity: 0;}100% {opacity: 1;}}

@-ms-keyframes seven {0% {opacity: 1;}90% {opacity: 0;}100% {opacity: 1;}}

@-o-keyframes seven {0% {opacity: 1;}90% {opacity: 0;}100% {opacity: 1;}}

@-keyframes seven {0% {opacity: 1;}90% {opacity: 0;}100% {opacity: 1;}}
.containerport {
  position: relative;
  width: 1130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 38px;
  margin-bottom: 0px;
  margin-top: -80px;
}

.containerport .box {
  position: relative;
  width: 280px;
  height: 500px;
  margin: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: -154px;
  cursor: pointer;
      margin-right: -273px;
}

.containerport .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(400px at center 105px);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.containerport .box:hover .imgBx {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
  margin-top: 40px;
}

.containerport .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerport .box .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 62%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.containerport .box .content h2 {
  margin: 0;
  padding: 0;
}

.containerport .box .content a {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 35px;
  background-color: #040b14;
  cursor:pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1em;
   -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  padding:10px 15px;
  border:1px solid #fff;
}

.containerport .box .content a:hover {
  background-color: #fff;
  color: #040b14;
  transition: 0.5ms;
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  -moz-box-shadow: 0px 0px 15px rgba(56,56,56,.2);
-webkit-box-shadow: 0px 0px 15px rgba(56,56,56,.2);
box-shadow: 0px 0px 15px rgba(56,56,56,.2);
}
.containerport .box .content a:focus{
  outline: none;
}
.containerport .box .content h2,
.containerport .box .content p,
.containerport .box .content a {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
  margin-top: -18px;
}

.containerport .box:hover .content h2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
  margin-top: 15px;
}

.containerport .box:hover .content p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s;
  margin-top: 10px;
}

.containerport .box:hover .content a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s;
   -webkit-transition:.5s;
  transition:.5s;
  margin-top: 10px;
}
.box3,.box2{
  margin-left: -300px;
}
.loisirsection{

}
/* end of loisir*/


.sectiondiv{
  margin-top: 200px;
}

/* pour section manasik*/
.containermanasik {
  width: 1090px;
	min-width: 600px;
  height: 430px;
  margin-bottom: 135px;
  margin-top: -35px;
}
 .containermanasik .card {
	 width: 330px;
	 height: 430px;
	 float: left;
	 border-radius: 8px;
	 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	 overflow: hidden;
	 position: relative;
	 top: 0;
	 text-align: center;
	 transition: all 0.25s;
}
 .containermanasik .card:nth-child(2) {
	 margin: 0 50px;
}
 .containermanasik .card:hover {
	 top: -15px;
	 box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
 .containermanasik .card h4 {
	 font-weight: 600;
}
 .containermanasik .card p {
	 padding: 0 1rem;
	 font-size: 16px;
	 font-weight: 300;
}
 .containermanasik .card a {
	 font-weight: 500;
	 text-decoration: none;
	 color: #3498db;
}
 .containermanasik img{
  height: 52%;
  width: 74%;
    margin-left: 45px;
}

/* style pour le button*/
 .btn2 {
	 cursor: pointer;
	 position: relative;
	 padding: 10px 20px;
	 background: white;
	 font-size: 22px;
	 border-top-right-radius: 10px;
	 border-bottom-left-radius: 10px;
	 transition: all 1s;
}
 .btn2:after, .btn2:before {
	 content: " ";
	 width: 10px;
	 height: 10px;
	 position: absolute;
	 border: 0px solid #fff;
	 transition: all 1s;
}
.btn2:hover, .btn2 a:hover{
  color: dodgerblue;
}
 .btn2:after {
	 top: -1px;
	 left: -1px;
	 border-top: 5px solid black;
	 border-left: 5px solid black;
}
 .btn2:before {
	 bottom: -1px;
	 right: -1px;
	 border-bottom: 5px solid black;
	 border-right: 5px solid black;
}
 .btn2:hover {
	 border-top-right-radius: 0px;
	 border-bottom-left-radius: 0px;
}
 .btn2:hover:before, .btn2:hover:after {
	 width: 100%;
	 height: 100%;
}
 .data-container {
	 background:#fff;
	 height: 100vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}

.loisirsection{
  margin-top: 200px;
}

.section-2 .container-fluid{
      margin-top: 300px;
}
/* pour manasik_card*/
