<%- include ("header") %>


<html dir="rtl" Lang="ar">


    <link rel="stylesheet" href="/css/avant voyage.css" />
    <!---------avant-voyage-------->
    <div class="anant_voyage">
        <h1 class="ml5" style="font-family: 'Almarai', sans-serif;">
            <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters letters-left"><span style="color: dodgerblue;">قبل الرحلة</span> </span>

                <span class="letters letters-right"> تجهيزات ما</span>
                <span class="line line2"></span>
            </span>
        </h1>

        <button key="titre1"  class="accordion lang">الإستعداد للرحلة</button>


          <div class="panel">

            <p class="lang" key="pres_1">لنستعد لهذه الرحلة لابد من تجهيز النفس قبل تجهيز الحقيبة .. وهناك عبادات قلبية وعبادات بدنية نفعلها قبل  الحج استعداداً له</p>
            <p class="lang" key="pres_2">:عبادات قلبية </p>
            <p class="lang" key="pres_3">.هذه خمس عبادات قلبية لابد لك منها حتى تجني ثمار رحلتك وتحصد غراس تعبك</p>
            <h5 class="lang" key="pres_4">.. أولا : افهم -</h5>
            <p class="lang" key="pres_5">  افهم شرف هذا البيت الذي تذهب لزيارته، ولو لم يكن له شرف إلا إضافة الله إياه إلى نفسه بقوله { وطهژ بيتي } لكفي بهذه الإضافة فضلا وشرفا، بل ونصبه مقصدا لعباده، وجعل ما حوله حرما تعظيما الأمره، فاستشعر بركة هذا البيت
            <br><br>
            فمن بركته أن حجارته وضعتها يد إبراهيم ويد إسماعيل عند بنائه, ثم يد محمد - صلى الله عليه وسلم - عند وضعه
                الحجر
                الأسود<br><br>
                           ومن بركته اختيار الله له، يقول الشيخ الشعراوي:
وإذا كانت المساجد في جميع بقاع الأرض بيوت الله وفيها نتقرب إليه بالجماعة والاجتماع على الذكر والاعتكاف مع أنها بيوت الله ولكن باختيار عباده؛ فكيف يكون التقرب إلى الله في بيته الذي اختاره؟

             <br><br>
            ومن بركته أن الصلاة فيه بمائة ألف صلاة، وكذلك الحسنة بمائة ألف بينما في غيره بعشر حسنات ومن بركته أنك
                تمتنع
                فيه
                عن الآثام وتلزم الإنابة
             <br><br>
                ومن بركته اتساع المكان في هذه الأفواج الهائلة و الجموع الحاشدة..
            ومن بركته اتساع القلوب فيه لتحمل الزحام
            <br><br>
                ومن بركته أن الأفئدة تهوي إليه إستجابة لدعوة إبراهيم عليه السلام : { فاجعل أفئدة من الناس تهوي إليهم }
                تدبر
                قوله
                أفيد أي قلوب لتدرك أن الرحلة ليست رحلة أجساد غائبة بل رحلة قلوب مشتاقة وأرواح منقادة تنجذب إلى بيت
                الحبيب
                رغما
                عنها، وتسعى إليه دون أن تشعر
            <br><br>ومن الفهم أن تفهم أن الله قد اختارك من وسط مئات الملايين لتنال شرف الزيارة وتشهد كرامة اللقاء، فكم من
                كافر
                على
                وجه الأرض حرم نعمة الإسلام؟ وكم من عظيم ورئيس أغلق دونه الباب؟ لقد اختارك الله دون الكثيرين واختصك
                بالفضل عن
                غيرك
                من المسلمين، بل ذلل لك كل العقبات، فلم يمنعك ضعف صحة أو قلة مال أو كثرة عيال، فما أعظم كرامتك على الله
                وما
                أغلى
                مكانتك عنده</p>
            <h5 class="lang" key="pres_6">.. ثانيا : التوبة -</h5>
            <p class="lang" key="pres_7">أخي الحاج إياك أن تبني صرح حجك على شفا جرف هار، فتحج وأنت تنوي أن تعود إلى المعصية، وإلا فكيف تف بيت
                الله!،
                وتدعوه
                أن يغفر لك ويرحمك وقد عقدت العزم على محاربته بعد عودتك؟ <br><br>
            من أراد أن يدق باب الحرم بيده غدا فليطرق باب التوبة بقلبه اليوم، فالذنوب عوائق عن الوصول، بل حتى وإن وصلت
                البيت
                فالمعاصي موانع تحول بينك وبين القبول.

                ويضرب لذلك الشيخ علي الطنطاوي أجمل مثل

                فيقول :

                " هل ترتفع الطائرة إذا أثقلتها بالحديد، وحملتها أضعاف ما تريد، ثم ربطتها بحبال الفولاذ إلى صخور الجبل ؟!
                إنها
                لا
                ترتفع إلا إذا خففت أحمالها، وكذلك الأعمال : فإذا أردتم أن يصعد حجكم فخففوا عن عواتقكم أثقال الذنوب،
                واقطعوا
                الحبال
                التي توثقكم بأرض الشهوات أو حلوها ".<br><br>
            أسمى غاية المؤمن : توبة, قال تعالى : { لقد تاب الله على النبي والمهاجرين والأنصار الذين اتبعوه في ساعة
                العسرة
                من
                بعد ما گاد يزيع قلوب فريق منهم ثم تاب عليهم إنه بهم رؤوف رَحيم {.

                قال ابن القيم : " هذا من أعظم ما يعرف العبد قدر التوبة وفضلها عند الله، وأنها غاية كمال المؤمن، فإنه
                سبحانه
                أعطاهم
                هذا الكمال بعد آخر الغزوات، بعد أن قضوا حبهم، وبذلوا نفوسهم وأموالهم وديارهم لله، وكان غاية أمرهم أن تاب
                عليهم،
                ولهذا جعل النبي - صلى الله عليه وسلم - يوم توبة كعب بن مالك خير يوم مر عليه من ولدته امه
                واستمع إن شئت إلى محاضرة التوبة في قسم الواحة الإيمانية.<br><br>
            <h5 class="lang" key="pres_8">- ثالثا : الشوق ..</h5>
            <p class="lang" key="pres_9">فيتحقق بأن تستشعر أنك تطأ بقدمك موضعا وطأته قدم رسول اللّه - صلى الله عليه وسلم - وتراباً مشی عليه
                الحبيب،
                ولعلك
                تبكي من خشية الله فيسيل دمعك على تربة سقها دمعة صحابي أو رواها دم نبي، وت تنفس نسماتِ هواء ملأت صدور خير
                خلق
                الله،
                وها هي الان تملأ صدرك لتزيدك شوقا وتغمرك حبا وتعيد إليك ذكريات الكرام المرسلين والصحب الأولين. </p>
            <p>هنا بمكة آي الله قد زلت . . هنا تربى رسول الله خير نبي</p>
            <p>فهذا سالم بن عبد الله في حجه أناح الرواحل في وادي العقيق يتحرى موضع نزول رسول الله حبا وشوقا إلى النبي
                صلى
                الله
                عليه وسلم .. فقد نزل النبي بوادي العقيق وخیم به ليلا في رحلة حجه
                وقال " العقيق واد مبارك . "
                ومن الشوق أن تدرك أنك تزور رب البيت لا البيت، وتطلب القرب من الغفار لا من الأحجار.
                ولذا جاء في الحديث : " إن الله تعالى يقول : إن عبدا أصححت له جسمه ووسعت عليه في معيشته تمضي عليه خمسة
                أعوام
                لا
                يفد
                إليّ لمَحْرُومّ ".
                ( صحيح ) انظر حديث رقم : 1909 في صحيح الجامع
                وتأمل قوله تعالى : "لا يفد إلي " ولم يقل إلى بيتي، فالحج ليس إلا رحلة إلى الله، فبالله كيف لا يكون
                محرومة من
                لا
                يرحل إلى الله ؟!

                لكنك وإن زرته في بيته فلن تراة اليوم، فحدث نفسك بيوم تنجلي فيه الحجب عن الله فتنظر إلى وجهه الكريم، ولا
                تستعظم
                على
                ربك أن يمن عليك بهذا الفضل العظيم فقد من عليك بزيارة بيته الكريم قال رسول الله - صلى الله عليه وسلم - :
                "
                إذا
                دخل
                أهل الجنة الجنة يقول الله تعالى : تريدون شيئا أزيدكم؟ فيقولون : ألم تبيض وجوهنا؟ ألم تدخلنا الجنة وتنجنا
                من
                النار؟
                فيكشف الحجاب فما أعطوا شيئا أحب إليهم من النظر إلى ربهم
                ". ( صحيح ) انظر حديث رقم : 523 في صحيح الجامع.
                ومن الشوق أن الناس يثوبون إلى البيت كلما فارقوه، ويشتاقون إليه فور أن يتركوه، ولا يشبعون منه أبدا، كحجر
                المغناطيس
                يجذب الحديد، لأن من ذاق لذة القرب عرف، ومن شرب من نهر الحب اغترف. قال تعالى : { وإذ جعلنا البيت مثابة
                للناس
                وأمنا}
                فمن معاني مثابة للناس أي يثبون إليه مشتاقين ويعودون إليه كلما فارقوه.
                ومن سادات المشتاقين :
                قال شيخ الإسلام سفيان بن عيينة : شهدت ثمانين موقفا (أي وقف بعرفة)، وكان من شدة شوقه وحبه يدعو الله في كل
                موقف
                :
                اللهم لا تجعله آخر العهد بك، وعلم الله صدق محبته وشدة شوقه فاستجاب دعاء ولم يحرمه، فلما كان العام الذي
                مات
                فيه
                لم
                يقل شيئا، فسئل عن ذلك فقال : قد استحييت من الله تعالى.
                وكان الإمام أحمد بن حنبل من شدة شوقه للحج أنه إذا لم يجذ زاد الحج عمل حمالا للقافلة ليغطي تكاليف الرحلة
                ولا
                يحرم
            </p>
            <h5 class="lang" key="pres_10">: رابعا : العزم -</h5>
            <p class="lang" key="pres_11">ومن العزم مفارقة راحتك ورفاهية التي كنت تجدها في بيتك طلبا لثواب الله. ومن العزم أن تجعل عملك خالضا لوجه
                الله،
                فلا تحج طلبا للسمعة أو الشهرة، أو سعيا للمنفعة والتجارة. و يحل لك في الحج أن تتاجر على أن لا يكون ذلك
                مقصدك
                في
                الأساس، وبهذا يكون سفر الحج خير الأسفار على الإطلاق.
                ولذا حين رأي عمر بن الخطاب - رضي الله عنه - نفرا من الحجاج يوما وهو بطريق مكة فقال :
                تشعثون وتغبرون وتتلون وتضحون، لا تريدون بذلك شيئا من عرض الدنيا، ما نعلم سفرا خيرا من هذا.</p>
            <h5 class="lang" key="pres_12">خامسا : قطع العلائق-</h5>
            <p class="lang" key="pres_13">فمعناه أن لا يلتفت قلبك إلى غير الله، فلا تعود تذكر أهلك ومالك وعملك، بل لا يملأ قلبك طوال رحلتك سوى هم
                جليل
                يتزلزل بسببه كيانك وتضطرب أوصالك... أن يغفر لك الله لك فيقلب صحيفة ذنوبك بيضاء نقية .. أن يصطفيك من
                عبادهِ
                في
                يمتعك بالنظر إلى وجهه الكريم . . أن يؤويك إلى جوار نبيه ويجعلك من جلسائه المقربين .. وغير ذلك من عظائم
                الآمال
                وجلائل الأمنيات، فحدد غايتك من حجتك، و وحدد هدفك من الآن حتی تصل إليه سريعا.</p>

        </div>

        <button key="titre2" class="accordion lang">الإستعداد البدني و الصحي</button>
        <div class="panel">

            <p class="lang" key="pref_1">يجتمع ملايين المسلمين من أجناس مختلفة وبلاد متعددة لأداء هذه العبادة في وقت ومكان محددين، بالإضافة لما
                تتطلبه
                هذه
                العبادة من حركة جسمانية متواصلة وجهد مضاعف.هنا لا بد أخي الحاج من أن تهيئ بدنك ونفسيتك تمامًا كما تجهز
                أمتعتك
                وربما أكثر قليلاً.</p>
            <h5 class="lang" key="pref_2">التهيئة البدنية والصحية قبل الحج:</h5>
            <p class="lang" key="pref_3">مما لا شك فيه أن الصحة الجيدة واللياقة التي يتمتع بها الحاج تيسر له الأداء لأمثل لمناسك الحج لذلك ننصح
                الحاج
                بمحاولة رفع مستوى صحته ولياقته قبل مغادرته وطنه ومن أهم هذه الاستعدادات:</p>
            <li class="lang" key="pref_4">ممارسة بعض التمرينات الرياضية بصفة منتظمة خاصة المشي فهذه الرياضة تسهل عليه الطواف والسعي، وسيجنبك
                الإصابة
                بالشد
                العضلي.</li>
            <li class="lang" key="pref_5">احرص على تناول الغذاء المتوازن من الفواكه والخضراوات والسوائل والعصائر، خاصة تلك المحتوية على فيتامين
                (ج)
                والكالسيوم.</li>
            <h5 class="lang" key="pref_6">التهيئة النفسية قبل الحج:</h5>
            <p class="lang" key="pref_7">يصيب كثير من الحجاج خاصة من يحج لأول مرة الهواجس والمخاوف لكننا نطمئن الحجاج بأنه ليس لمخاوفهم أي أساس،
                والدليل
                على ذلك رغبة كل من حج بالحج مرة أخرى وبذلك نذكر بضرورة أن:</p>
            <li class="lang" key="pref_8">تعود نفسك على الصبر والتحمل.</li>
            <li class="lang" key="pref_9">تأخذ الأمور بسهولة دون تعصب.</li>
            <li class="lang" key="pref_10"> تتعلم كيف تتعايش وتندمج مع الآخرين بطريقة صحيحة، خاصة إذا وضعت نصب عينيك أن هؤلاء الحجاج هم إخوانك، وأن
                أجر
                صبرك الذي ستجنيه بعد مشقة أيام عظيمة، لذا تقرب إلى الله بمساعدة الآخرين فهو عمل سيشعرك بالسعادة من حيث
                لا
                تدري.
            </li>
            <h5 class="lang" key="pref_11">التهيئة البدنية والصحية أثناء السفر:</h5>
            <p class="lang" key="pref_12">أخي الحاج سواء كان سفرك بالطائرة أو بالحافلة أو بالسيارة فإن الجلوس فترات طويلة سيعرضك للتعب، لذا نقدم لك
                بعض
                الإرشادات المساعدة أثناء سفرك:</p>
            <li class="lang" key="pref_13">احرص على ارتداء الملابس الفضفاضة، وانتعال الأحذية المريحة قبل أداء المناسك.</li>

            <li class="lang" key="pref_14">احرص على ارتداء النظارات الشمسية المناسبة لوقاية العيون من الغبار والأتربة وأشعة الشمس.</li>
            <li class="lang" key="pref_15">تنفس بعمق وبطء على نحو دوري.</li>
            <li class="lang" key="pref_16">حاول ألا تجلس أكثر من ساعتين دون حركة.</li>
            <li class="lang" key="pref_17">حرك عضلات البطن والأرداف كل فترة وأنت في مكانك.</li>
            <li class="lang" key="pref_18">حرك رجليك كل فترة وأنت جالس وحاول مدهما بين الحين والآخر.</li>
            <li class="lang" key="pref_19">انزل عند الاستراحات وتمش وحرك رأسك ورقبتك وظهرك لتجنب الإصابة بالشد العضلي</li>
            <li class="lang" key="pref_20">يمكن لركاب الطائرة التحرك في الممر بين المقاعد مرة كل ساعة أو الوقوف في أماكنهم إن تيسر ذلك.</li>
        </div>

        <button key="titre3" class="accordion lang">تجهيز الحقائب و الملابس</button>
        <div class="panel">

            <p class="lang" key="tajhiz_1">هناك أشياء ولوازم مهمة يلزم اصطحابها فى حقيبة السفر لأداء فريضة الحج أو العمرة، و"اليوم السابع" يقدم أبرز
                المستلزمات لتذكير المسافرين بها.</p>
            <h5 class="lang" key="tajhiz_2">أولاً: الملابس:</h5>
            <p class="lang" key="tajhiz_3">حسب مدَّة السفر ستحتاج إلى ملابس خارجية كالجلباب أو القمصان، وستحتاج إلى ملابس داخلية كثيرة، مع مراعاة أن
                الحاج
                والمعتمر يحتاجان إلى ملابس كثيرة نظرًا لأنهم يبذلون مجهودًا كبيرًا، ومن ثم يحتاجون لتغيير الملابس عدة
                مرات
                فى
                اليوم.</p>
            <p class="lang" key="tajhiz_4">وكل ذلك بخلاف ملابس الإحرام ودبابيس لتثبيتها جيدًا وشنطة صغيرة تُعَلَّق فى الرقبة أثناء الطواف والسعى
                لتضع
                فيها
                أموالك والتليفون المحمول ومتعلقاتك الصغيرة.</p>
            <h5 class="lang" key="tajhiz_5">ثانيا: أدوات النظافة الشخصية:</h5>
            <p class="lang" key="tajhiz_6">وأهم مستلزمات النظافة الشخصية الفوط وعددها حسب المدة التى تقضيها فى السفر وقصافة للأظافر وفرشاة الأسنان
                والمعجون
                والسواك ومزيل للعرق بدون رائحة، وبالنسبة للنساء يُفَضَّل أخذ مقص صغير لاستخدامه فى قصِّ طرف الشعر بعد
                التحلُّل
                من
                الإحرام.</p>
            <h5 class="lang" key="tajhiz_7">ثالثا: المتعلقات المهمة:</h5>
            <p class="lang" key="tajhiz_8">جواز السفر وتذاكر الطيران وجدول الرحلة عناوين الفنادق ومحلات الإقامة كلها سواء فى مكة أو فى المدينة و رقم
                تليفون
                المشرف على الرحلة، وكذلك تليفون المطوف بالسعودية بالاضافة إلى التليفون المحمول وشاحنه ونظارة القراءة لمن
                يحتاجها
                بخلاف النظارة الشمسية وورقة بقائمة المشتريات المطلوبة وشمسية صغيرة، والمصحف الشريف وكتيبات أذكار.</p>
            <h5 class="lang" key="tajhiz_9">رابعا : الأدوية:</h5>
            <p class="lang" key="tajhiz_10">يفضل أخذ بعض الأدوية البسيطة للإسعافات الأولية السريعة ومنها على سبيل المثال:</p>
            <li class="lang" key="tajhiz_11">دواء مسكن للآلام والصداع</li>
            <li class="lang" key="tajhiz_12">دواء للإسهال والإمساك</li>
            <li class="lang" key="tajhiz_13">دواء للحموضة</li>
            <li class="lang" key="tajhiz_14">دواء للبرد </li>
            <li class="lang" key="tajhiz_15">مطهر للجروح</li>
            <p class="lang" key="tajhiz_16">- وذلك بالإضافة إلى الأدوية المعتادة مثل: دواء السكر، أو الضغط، أو القلب، أو الأعصاب.. أو غير ذلك من
                الأدوية
                الضرورية لك.</p>
        </div>

        <button key="titre4" class="accordion lang">واجبات تنفيدية</button>
        <div class="panel">

            <p class="lang" key="obl_1"> وهي واجبات تبعث في قلبك إذا تأملتها أن هذه الرحلة هي آخر رحلات حياتك، وأنك لن ترجع بعدها إلى دارك بل إلى
                قبر،
                وأنك تستعد لحلول أجلك مع آخر خطوة تخطوها من طواف الوداع، فيدفعك قصر الأمل وقطع تعلق القلب بالعودة إلى أن
                تجد
                في
                السير وتتقن الحج.
                قال ابن عقيل رحمه الله :
                ما تصفو الأعمال والأحوال إلا بتقصير الآمال، فإن كل من عد ساعته التي هو فيها كساعته عند مرض الموت حسنت
                أعماله،
                فصار
                عمره كله صافيا ".
                فأد حجتك دون أن تخلف أي تبعة وراء ظهرك، وذلك بأن تحرص على ما يلي :
            </p>
            <h5 class="lang" key="obl_2">قضاء الديون -</h5>
            <p class="lang" key="obl_3">فسداد الديون مقدم على أداء الحج، وقد كان الرسول - صلى الله عليه وسلم - يسأل قبل أن يصلي على الميت : هل
                عليه
                دين
                ؟!
                فإن قضاه أحد وإلا لم يصل عليه، وأنت ذاهب في رحلة قد لا ترجع منها، فإن كانت عليك ديون لا تستطيع أداءها
                فعليك
                استئذان أصحابها في الخروج للحج والا فلا تخرج.</p>
            <h5 class="lang" key="obl_4">رد المظالم -</h5>
            <p class="lang" key="obl_5">راجع نفسك، وانظر إذا كنت قد ظلمت أحدا فرد إليه مظلمته واطلب منه العفو والصفح. . لتطهر نفسك من حقوق العباد
                قبل
                سفرك ولا يبقى غير حق الله الذي سيغفره لك بعفوه وكرمه.</p>
            <h5 class="lang" key="obl_6">رد الوادئع -</h5>
            <p class="lang" key="obl_7">وإبلاغ أصحابها بأنك مسافر للحج وقد لا تعود.</p>
            <h5 class="lang" key="obl_8">كتابة الوصية -</h5>
            <p class="lang" key="obl_9">قال رسول الله صلى الله عليه وسلم : " ما حق امرئ مسلم له شيء يريد أن يوصي فيه يبيت ليلتين إلا و وصيثه
                مكتوبة
                عنده

                ". ) صحيح( انظر حديث رقم : 5614 في صحيح الجامع.</p>
            <h5 class="lang" key="obl_10">توديع الأهلي -</h5>
            <p class="lang" key="obl_11"> وكأنك لن تراهم بعد اليوم، وذلك بالدعاء المأثور اقتداء بالنبي - صلى الله عليه وسلم - حين يودع أحدا يقول :
                أستودع
                الله دينك وأمانتك وخواتيم عملك . ( صحيح ) انظر حديث رقم : 4795 في صحيح الجامع</p>
        </div>
    </div>
    <div class="Translation">
    <input id="fr" class="translate btn-light px-5 py-2 primary-btn" value="Frensh"/>
    <input id="ar" class="translate btn-light px-5 py-2 primary-btn" value="arabic"/>
    </div>
    <!----------end of avant-voyage---------->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script src="/js/avant_voyage.js"></script>


<%- include ("footer") %>
