<link rel="stylesheet" href="/css/footer.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
<!--  footer -->
<footer>
  <div class="Translation">
    <a href="#ar" data-reload >Arabe</a>
    <a href="#fr" data-reload >Francais</a>
  </div>
  <div class="footer" style=" margin-top: -272px;">

    <div class="container">
      <div class="rowf">
        <img src="/img/bottom.png" alt="">
        <div class="col-md-12 ">

          <div class="contf">
            <h3> <strong class="multi"> Free Website application for </strong><br>
              <span style="color: black; margin-top: -20px;">hadj & omra guid</span>
            </h3>
          </div>
        </div>
        <!-- This button for traduction to Our 2 languages
        <script src="/js/manasik-hadj.js"></script>
        <script src="bundle.js"></script>
        <div class="Traduction">

          <a href="#" id="ar">Ar</a>
          <a href="#" id="fr">Fr</a>
        </div> -->
        <div class="col-md-12">
          <ul class="social_iconf">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyrightf">
      <div class="container">
        <div class="rowf">
          <div class="col-md-12">
            <p>Copyright 2020 All Right Reserved By <a href="http://www.esi-sba.dz/"> Free website guid</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->

<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
  ':35729/livereload.js?snipver=1"></' + 'script>')
</script>

</body>

</html>
