<%- include ("header") %>



<link rel="stylesheet" href="/css/map.css">
<main>
  <section class="section-1" id="section-1">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="pray">
            <img src="/img/hadj30.jpg" alt="Pray" class="" />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="panel text-left">
            <h1 style="font-family: 'Almarai', sans-serif;"> قبل الرحلة </h1>
            <p class="pt-4" style="font-family: 'Almarai', sans-serif; font-size: larger;">
              في الأيام الأولى من شهر ذي الحجة من كل عام تهفو قلوب المسلمين وتتجه أنظارهم نحو بيت الله الحرام، يحدوها
              الشوق ويدفعها
              الأمل فيما عند الله سبحانه وتعالى، مستجيبين لدعوة أبيهم إبراهيم عليه السلام عندما أمره الله بقوله: "وأذن
              في الناس بالحَج
              يأتوك رجالا وعلى كل ضَامر يأتين من كل فج عميق" (سورة الحج). ولذلك نعرض هنا لأهم ما ينبغي للحاج الإلمام
              به
              من أحكام هذه
              الشعيرة العظيمة.
            </p>
            <a href="http://localhost:8080/avant_voyage" class="btnstyle"
              style="font-family: 'Almarai', sans-serif; font-size: large;">ماذا يدجب أن
              تعرف</a>
          </div>

        </div>
      </div>
    </div>
  </section>


  <section class="section-2 container-fluid p-0">
    <div class="cover">
      <div class="container-fluid text-center">
        <div class=" d-flex flex-md-row flex-wrap justify-content-center">
          <!-----card2----->
          <div class="containermanasik" style="font-family: 'Almarai', sans-serif;">
            <div class="card">
              <img src="/img/manasik5.jpg">
              <h3>مناسك الحج</h3>
              <p>مَناسك الحج هي الأعمال التي يقوم بها المسلم قبل وأثناء ونهاية الحج وهي التي أراها الله عز وجل لنبيه
                وخليله إبراهيم.
              </p>
              <div class="data-container">
                <span class="btn2"><a href="http://localhost:8080/manasik-hadj">Read More</a></span>
              </div>
            </div>
            <div class="card card2">
              <img src="/img/manasik2.jpg">
              <h3>مناسك العمرة</h3>
              <p> العمرة هي زيارة المسجد الحرام في مكة
                لأداء مناسك خاصة، كالطواف، السعي والحلق. والعمرة مشروعة بأصل الإسلام،</p>
              <div class="data-container">
                <span class="btn2"><a href="http://localhost:8080/manasik-omra">Read More</a></span>
              </div>
            </div>
            <div class="card">
              <img src="/img/doaa9.jpg">
              <h3>أدعية</h3>
              <p>الدعاء في الإسلام هي عبادة تقوم على سؤال العبد ربَّه والطلب منه وهي عبادة من أفضل العبادات التي يحبها
                الله خالصةً له
              </p>
              <div class="data-container">
                <span class="btn2"><a href="http://localhost:8080/ad3iya">Read More</a></span>
              </div>
            </div>
          </div>
        </div>
        <!-----end of card2------>
      </div>
    </div>



    <!----loisir------>
    <section class="loisirsection">
      <div id="wrap">
        <p>l</p>
        <p>o</p>
        <p>a</p>
        <p>s</p>
        <p>i</p>
        <p>r</p>
        <p>e</p>
      </div>
      <section class="portfolio_section layout_padding">
        <div class="containerport">
          <div class="box">
            <div class="imgBx">
              <img src="/img/resto1.jpg" />
            </div>
            <div class="content">
              <h2>Restaurant</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="http://localhost:8080/loisir1">Read More</a>
            </div>
          </div>
          <div class="box box2">
            <div class="imgBx">
              <img src="/img/plcae2.jpg" />
            </div>
            <div class="content">
              <h2>Places</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="http://localhost:8080/loisir1">Read More</a>
            </div>
          </div>
          <div class="box box3">
            <div class="imgBx">
              <img src="/img/hotel4.jpg" />
            </div>
            <div class="content">
              <h2>Hotels</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="http://localhost:8080/loisir2">Read More</a>
            </div>
          </div>

        </div>
      </section>
    </section>
    <!------end of loisir-------->




    <!------météo api------->
    <section class="meteo">
      <span id="date_heure" alt=""></span>
      <script type="text/javascript">window.onload = date_heure('date_heure');</script>



      <br><br>
      <section class="meteo2">
        <div class="containermet">
          <div class="app-title">
            <h1>Weather</h1>
          </div>
          <div class="notification"> </div>
          <div class="weather-container">
            <div class="weather-icon">
              <img src="/img/icons/unknown.png" alt="">
            </div>
            <div class="temperature-value">
              <p>- °<span>C</span></p>
            </div>
            <div class="temperature-description">
              <p> - </p>
            </div>
            <div class="location">
              <p>-</p>
            </div>
          </div>
        </div>
      </section>
      <!--------weather warda------>

      <!-----------
      <section id="app"></section>
      <br>

      <i class="wi" id="cc"></i>
      <h2> <i class="wi wi-thermometer"></i>
        <span id="temperature"></span> C°
        <br> <span id="conditions">

          <div class="container">
            <div class="text"></div>
          </div>

        </span>


      </h2>


      <h1> <span id="ville"></span> </h1>
      <br><br> --->
      <!---------end weather warda---->
      <div class="col-3 input-effect"><br>
        <input class="effect-1" id="queryLoc" type="text" placeholder="Saisir la ville,pays">
        <br> <br>
        <button class="mybtn" onclick="buttonClickGET()">Voir Météo</button>
      </div>
      <br><br><br><br>
      </div>
      <p id="zone_meteo"></p>
      <br>
    </section>
    <!--------end of météo api----->



    <!---------map api------->

    <!--------end of map api----->


    <section class="sectiondiv">
      <!-------currency convert--------->
      <div class="currency-container">

        <div class="containercur">
          <div class="header">
            <h1>Currency Converter</h1>
          </div>
          <div class="date"></div>
          <ul class="currencies"></ul>
          <button class="add-currency-btn"><i class="fas fa-long-arrow-alt-left"></i>Add
            Currency</button>
          <ul class="add-currency-list"></ul>
        </div>
      </div>
      <!------currency convert------>
    </section>

    <!------------------------Last Question----------------------->
    <section>
      <div class="card border-primary mb-3" style="max-width:800px;
      margin: auto;">
        <div class="card-header">
         Question
        </div>
        <div class="card-body">
          <% for (comment of comment) {%>
          <h5 class="card-title"><%= comment.content %></h5>
          <% }%>
          <a href="http://localhost:8080/question" class="btn btn-primary">See other questions</a>
        </div>
      </div>
    </section>
    <!---------------------------------------------------->

    <div class="mapdiv">
      <h2>Pour utiliser notre map</h2>
    </div>

    <!-------------------------( GPS )--------------------------------------------------->
    <section class="section-4 container-fluid p-0 text-center">

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="directionsContainer">
            <div id="directionsPanel"></div>
            <div id="directionsItinerary"></div>
          </div>
          <div id="myMap"></div>
          <input type="button" value="Start Continuous Tracking" onclick="StartTracking()" />
          <input type="button" value="Stop Continuous Tracking" onclick="StopTracking()" />
        </div>
      </div>
    </section>
    <!-------------------------------------------------------------------------------->



  </section>


  <section class="section-3 container-fluid p-0 text-center">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1>You can use our app in any Platform</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum exercitationem alias perspiciatis omnis quod
          possimus odit
          voluptatum! Sunt ea quasi praesentium, tenetur doloribus animi obcaecati, sint nemo quae laudantium iusto
          unde
          eaque nostrum nobis voluptatum
        </p>
      </div>
    </div>
    <div class="platform row">
      <div class="col-md-6 col-sm-12 text-right">
        <div class="desktop shadow-lg">
          <div class="d-flex flex-row justify-content-center">
            <i class="fas fa-desktop fa-3x py-2 pr-3"></i>
            <div class="text text-left">
              <h3 class="pt-1 m-0">Desktop</h3>
              <p class="p-0 m-0">On website</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-left">
        <div class="desktop shadow-lg">
          <div class="d-flex flex-row justify-content-center">
            <i class="fas fa-mobile-alt fa-3x py-2 pr-3"></i>
            <div class="text text-left">
              <h3 class="pt-1 m-0">On Mobile</h3>
              <p class="p-0 m-0">On Play Store</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
      <div class="container">
          <div class="section-title">
              <h2 style = " font-size: 50px; font-family:'Baloo Chettan 2', cursive;  color: #3e3e3e; line-height: 35px; font-weight: bold; text-align:center;">Pour nous contacter</h2>

          </div>

          <div class="row" data-aos="fade-in">
              <div class="col-lg-5 d-flex align-items-stretch">
                  <div class="info">
                      <div class="address">
                          <i class="fas fa-map-marker-alt"></i>
                          <h4>Location:</h4>
                          <p>École supérieure en informatique de Sidi Bel Abbès</p>
                      </div>

                      <div class="email">
                          <i class="fas fa-envelope-open"></i>
                          <h4>Email:</h4>
                          <p>etudaiant3@esi-sba.dz</p>
                      </div>

                      <div class="phone">
                          <i class="fas fa-phone-volume"></i>
                          <h4>Call:</h4>
                          <p>+213 xxxxxx</p>
                      </div>

                      <iframe
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.8674539860676!2d-0.6353639853632892!3d35.20977038030695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7f00290df8ed91%3A0x91bd238762e84ce4!2s%C3%89cole%20sup%C3%A9rieure%20en%20informatique%20de%20Sidi%20Bel%20Abb%C3%A8s!5e0!3m2!1sfr!2sdz!4v1587398772065!5m2!1sfr!2sdz"
                          frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
                          style="border:0; width: 100%; height: 280px;"></iframe>
                  </div>
              </div>

              <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                  <form method="post" role="form" class="php-email-form" action="http://localhost:8080/contact">
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="name">Your Name</label>
                              <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                                  data-msg="Please enter at least 4 chars" />
                              <div class="validate"></div>
                          </div>

                      </div>
                      <div class="emaildiv">
                          <div class="form-group col-md-6">
                              <label class="emaillabel" for="name">Your Email</label>
                              <input type="email" class="form-control inputlabel" name="email" id="email"
                                  data-rule="email" data-msg="Please enter a valid email" />
                              <div class="validate"></div>
                          </div>
                      </div>


                      <div class="form-group">
                          <label for="name">Subject</label>
                          <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                              data-msg="Please enter at least 8 chars of subject" />
                          <div class="validate"></div>
                      </div>
                      <div class="form-group">
                          <label for="name">Message</label>
                          <textarea class="form-control" name="message" rows="10" data-rule="required"
                              data-msg="Please write something for us"></textarea>
                          <div class="validate"></div>
                      </div>
                      <div class="mb-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">
                              Your message has been sent. Thank you!
                          </div>
                      </div>
                      <div class="text-center">
                          <button type="submit">Send Message</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!-- End Contact Section -->

</main>

    <a class="scroll-to-top rounded" href="#section-1">
      <i class="fas fa-angle-up"></i>
    </a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
<script src="/js/main.js"></script>
<script src="/js/currency.js"></script>
<script src="/js/date-heure.js"></script>
<script src="/js/meteo.js"></script>
<script src="/js/met.js"></script>
<script src="/js/map.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/main2.js"></script>


<%- include ("footer") %>
