<%- include ("header") %>


<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/css/loisir2.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/fontawesome.min.css"
    integrity="sha256-0mlw4Ae1j9eDzZTzLuw5X9fBCL9nAehrtVyKfIstZQA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />



    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->






        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Our Hotels</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/hotel1.PNG" alt="Image"
                                    class="img-fluid"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Radisson Blu Hotel, Riyadh</a></h3>
                                <strong class="price">13 750 DA</strong>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="far fa-star"></i></a>
                                        </li>
                                    </ul>

                                    <p class="ml-20">3 539 avis </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/hotel3.PNG" alt="Image"
                                    class="img-fluid"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#"> Grand Plaza Gulf Hotel</a></h3>
                                <strong class="price">12 374 DA / per night</strong>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="far fa-star"></i></a>
                                        </li>
                                    </ul>

                                    <p class="ml-20">957 avis </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/hotel6.PNG" alt="Image"
                                    class="img-fluid"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0" style="    font-size: 19px;"><a href="#">Crowne Plaza
                                        Riyadh
                                        Minha</a></h3>
                                <strong class="price">17 032 DA</strong>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="far fa-star"></i></a>
                                        </li>
                                    </ul>

                                    <p class="ml-20">1 378 avis </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/img_4.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#"> Suite Inn Hotel</a></h3>
                                <strong class="price">7 599 DA / per night</strong>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="far fa-star"></i></a>
                                        </li>
                                    </ul>
                                    <p class="ml-20">824 avis </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/hotel10.PNG" alt="Image"
                                    class="img-fluid" style="height: 241px;"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#"> Rose garden hotel</a></h3>
                                <strong class="price">3 639 DA/ per night</strong>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-star-half-alt"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="far fa-star"></i></a>
                                        </li>
                                    </ul>
                                    <p class="ml-20">1 211 avis </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/hotel11.PNG" alt="Image"
                                    class="img-fluid"></a>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#"> Braira Al Wazarat Hotel</a></h3>
                                <strong class="price">5 932 DA/ per night</strong>
                                <div class="bottom d-flex mt-15">
                                    <ul class="list">
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="far fa-star"></i></a>
                                        </li>
                                    </ul>
                                    <p class="ml-20">756 avis </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Our Agences</h2>

                        <h3>Vols au départ de Alger vers Arabie saoudite</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/jeddah4.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h2 class="prix">89,307 DZD</h2>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Vols de Alger à Arabie saoudite</a></h3>
                                <strong class="price">Vols au départ de Alger vers Dammam</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/jeddah.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h2 class="prix">69,410 DZD</h2>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Vols de Alger à Arabie saoudite</a></h3>
                                <strong class="price">Vols au départ de Alger vers Djeddah</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/jeddah5.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h2 class="prix">97,247 DZD</h2>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Vols de Alger à Arabie saoudite</a></h3>
                                <strong class="price">Vols au départ de Alger vers Médine</strong>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3 class="voldepart">Vols au départ de Alger vers Arabie <span class="saoudite">saoudite</span>
                    </h3>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/médine.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h2 class="prix">100,967 DZD</h2>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Vols de Oran à Arabie Saoudite</a></h3>
                                <strong class="price">Vols au départ de Oran vers Médine</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/djedda.jpg" alt="Image"
                                    class="img-fluid"></a>
                            <h2 class="prix">64,202 DZD</h2>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Vols de Oran à Arabie Saoudite</a></h3>
                                <strong class="price">Vols au départ de Oran vers Djedda</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="hotel-room text-center">
                            <a href="#" class="d-block mb-0 thumbnail"><img src="/img/damam1.jpg" alt="Image"
                                    class="img-fluid" style="    height: 234px;"></a>
                            <h2 class="prix">88,025 DZD</h2>
                            <div class="hotel-room-body">
                                <h3 class="heading mb-0"><a href="#">Vols de Oran à Arabie Saoudite</a></h3>
                                <strong class="price">Vols au départ de Oran vers Dammam</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function () {
                        var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>


<%- include ("footer") %>
