<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manasik-hadj</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/manasik-hadj.css">
    <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Cairo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <div>

        <br>
        <div class="has-animation animation-ltr" data-delay="10">
            <p class="bigger"> مناسك <span style="color: #5baeb1;">الحج
                </span> <span class="go"> ماهوالفرق بين </span></p>
            <h2> ماهو الفرق بين </h2>
        </div>

        <section class="textchange ">
            <div class="content">
                <div class="content__container">
                    <p class="content__container__text ">
                        حج
                    </p>
                    <ul class="content__container__list">
                        <li class="content__container__list__item">-</li>
                        <li class="content__container__list__item">القران</li>
                        <li class="content__container__list__item">التمتع</li>
                        <li class="content__container__list__item">الافراد</li>
                    </ul>

                </div>
            </div>
        </section>

        <br>
        <br>

        <div class="has-animation animation-rtl" data-delay="1000">
            <p class="text ">تتفرّع نسك الحج إلى ثلاثة أنواعٍ، وهي: القِران والتمتمع والإفراد، فالمقصود بحجّ
                القِران أن
                يجمع الحاجّ
                بين الحجّ والعمرة
                في الإحرام، فيُحرم مرةً واحدةً، ولا يتحلّل منه إلّا بعد الانتهاء من أعمال الحجّ كاملةً، أمّا التمتع
                فيقصد به الإحرام
                بالعمرة في أشهر الحجّ، ثمّ يتحلّل من إحرامه للعمرة، ويبقى في مكة ثمّ يحرم للحجّ ليؤديده في العام نفسه،
                وسمي بالتمتع
                لأنّه الحاجّ يتحلّل من العمرة ويفعل ما يفعله غير المُحرم بين العمرة والحجّ، أمّا الإفراد فيقصد به
                الإحرام بالحجّ فقط دون
                العمرة.
            </p>

        </div>

        <div class="has-animation animation-rtl" data-delay="2000">

        </div>

    </div>

    <div class='parent'>
        <div class='slider'>
            <button type="button" id='right' class='right' name="button">

                <svg version="1.1" id="Capa_1" width='40px' height='40px ' xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.175 477.175"
                    style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
                    <g>
                        <path style='fill: #9d9d9d;' d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                  c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z
                  " />
                    </g>

                </svg>

            </button>
            <button type="button" id='left' class='left' name="button">
                <svg version="1.1" id="Capa_2" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.175 477.175"
                    style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
                    <g>
                        <path style='fill: #9d9d9d;' d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                  c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" />
                    </g>
                </svg>
            </button>
            <svg id='svg2' class='up2' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle id='circle1' class='circle1 steap' cx="34px" cy="49%" r="20" />
                <circle id='circle2' class='circle2 steap' cx="34px" cy="49%" r="100" />
                <circle id='circle3' class='circle3 steap' cx="34px" cy="49%" r="180" />
                <circle id='circle4' class='circle4 steap' cx="34px" cy="49%" r="260" />
                <circle id='circle5' class='circle5 steap' cx="34px" cy="49%" r="340" />
                <circle id='circle6' class='circle6 steap' cx="34px" cy="49%" r="420" />
                <circle id='circle7' class='circle7 steap' cx="34px" cy="49%" r="500" />
                <circle id='circle8' class='circle8 steap' cx="34px" cy="49%" r="580" />
                <circle id='circle9' class='circle9 steap' cx="34px" cy="49%" r="660" />
            </svg>
            <svg id='svg1' class='up2' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle id='circle10' class='circle10 steap' cx="648px" cy="49%" r="20" />
                <circle id='circle11' class='circle11 steap' cx="648px" cy="49%" r="100" />
                <circle id='circle12' class='circle12 steap' cx="648px" cy="49%" r="180" />
                <circle id='circle13' class='circle13 steap' cx="648px" cy="49%" r="260" />
                <circle id='circle14' class='circle14 steap' cx="648px" cy="49%" r="340" />
                <circle id='circle15' class='circle15 steap' cx="648px" cy="49%" r="420" />
                <circle id='circle16' class='circle16 steap' cx="648px" cy="49%" r="500" />
                <circle id='circle17' class='circle17 steap' cx="648px" cy="49%" r="580" />
                <circle id='circle18' class='circle18 steap' cx="648px" cy="49%" r="660" />
            </svg>
            <div id='slide1' class='slide1 up1'>الافراد</div>
            <div id='slide2' class='slide2'></div>
            <div id='slide3' class='slide3'></div>
            <div id='slide4' class='slide4'></div>
        </div>
    </div>


    <div class="container">
        <div class="row flex-items-xs-middle flex-items-xs-center">
            <!-- Table #1  -->
            <div class="col-xs-12 col-lg-4">
                <div class="card text-xs-center">
                    <div class="card-header">
                        <h2> حج الافراد</h2>
                    </div>
                    <div>
                        <h4 class="card-text textal">
                            وهو أن ينوي المسلم عند إحرامه أداء مناسك الحج فقط، ويقول: "لبيك بحج"، ثمَّ يصل إلى
                            مكة ويؤدي
                            مناسك الحج ثمَّ يحرم بنية
                            العمرة ويؤدي مناسكها، وهو الحج الأفضل عند الشافعية والمالكية، وفيما يأتي من فقرات
                            هذا المقال
                            سيتم الحيث عن الحج المفرد
                            وشروطه بالتفصيل.
                        </h4>
                        <ul class="list-group">
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                        </ul>
                        <a href="#" class="btn btn-gradient mt-2 lwl">read more</a>
                    </div>
                </div>
            </div>

            <!-- Table #1  -->
            <div class="col-xs-12 col-lg-4">
                <div class="card text-xs-center">
                    <div class="card-header">
                        <h2>حج القران</h3>
                    </div>
                    <div class="card-text textal textal2">
                        <h4>
                            حج القِران، هو أحد الأقسام الثلاثة للحج وهو فرض لمن كان أهله حاضر المسجد الحرام، أو
                            قريب من
                            مكة. يُشترط في هذا الحج أن
                            يصحب المكلف معه الهدي وقت الإحرام وهذا الهدي في هذا الحج واجب لا من حیث الهدي بل من
                            جهة
                            السَوق
                        </h4>
                        <a href="#" class="btn btn-gradient mt-2">read more</a>
                    </div>
                </div>
            </div>

            <!-- Table #1  -->
            <div class="col-xs-12 col-lg-4">
                <div class="card text-xs-center">
                    <div class="card-header">
                        <h2>حج التمتع</h2>
                    </div>
                    <div class="card-text textal ">
                        <h4>
                            حج التمتع، وهو أحد الأقسام الثلاثة من الحج في الإسلام، وهذا النوع من الحج يجب على من
                            كان
                            البُعد بين أهله و المسجد الحرام
                            أكثر من 16 فرسخ أو 48 ميل. يتكون حج التمتع من جزئين: عمرة التمتع وحج التمتع.
                        </h4>
                        <a href="#" class="btn btn-gradient mt-2">read more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/manasik-hadj.js"></script>
</body>

</html>